﻿@page
@inherits DefaultPageBase
@model RicohTrainingRegistration.CMS.Pages.Report.IndexModel
@{
    PageTitle("Reports");
    PageHeading("Reports");
    ActiveMenus("Report");
    Breadcrumbs(
        new Breadcrumb("Reports")
    );

    UseDatePicker();
    UseJqueryValidate();
}

<div class="box box-solid">
    <div class="box-body">
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Reports Download</h3>
            </div>
            <div class="box-body">
                <form method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Report</label>
                                <select asp-for="Report.Id" asp-items="Model.ReportSelectList" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Date Range</label>
                                <div class="input-group">
                                    <input asp-for="Report.From" asp-format="{0:yyyy-MM-dd}" type="text" class="form-control dpkr" data-date-format="yyyy-mm-dd" />
                                    <span class="input-group-addon">To</span>
                                    <input asp-for="Report.To" asp-format="{0:yyyy-MM-dd}" type="text" class="form-control dpkr" data-date-format="yyyy-mm-dd" />
                                </div>
                            </div>
                        </div>
                    </div>

                    @Html.BsValidationSummary()

                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-download"></i> Download</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    @section InitScripts
    {
    $(window).off('beforeunload');
    $('.dpkr').attr('autocomplete', 'off').datepicker();
    }
</script>