﻿@page "{id:int?}"
@inherits DefaultPageBase
@model RicohTrainingRegistration.CMS.Pages.Registration.EditModel
@using RicohTrainingRegistration.Database
@{
    PageTitle("Registration");
    PageHeading("Registration", "Edit");
    ActiveMenus("Registration");
    Breadcrumbs(
        new Breadcrumb("Registration"),
        new Breadcrumb("Edit")
    );

    UseJqueryValidate();
    UseDatePicker();
}

<div class="box box-solid">
    <div class="box-body">
        <form id="frm1" method="post" class="ajax-form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group required">
                        <label asp-for="Registration.SerialNo"></label>
                        @if (Model.Registration.SerialNo != null)
                        {
                            <input asp-for="Registration.SerialNo" class="form-control" readonly />
                        }
                        else
                        {
                            <input asp-for="Registration.SerialNo" class="form-control serial-no" />
                        }
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Registration.OrderId"></label>
                        @if (Model.Registration.OrderId != null)
                        {
                            <div class="form-control-static">@(Model.Registration.OrderId)</div>
                        }
                        else
                        {
                            <input asp-for="Registration.OrderId" class="form-control order-id" />
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Model ID</label>
                        <div class="form-control-static model-id">@(Model.ModelId ?? "-")</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Model Name</label>
                        <div class="form-control-static model-name">@(Model.ModelName ?? "-")</div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group required">
                        <label asp-for="Registration.VenueAddress"></label>
                        <input asp-for="Registration.VenueAddress" class="form-control address" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group required">
                        <label asp-for="Registration.District"></label>
                        <select asp-for="Registration.District" asp-items="Model.DistrictList" class="form-control district"></select>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Registration.TrainingDate"></label>
                        <div class="input-group">
                            <input asp-for="Registration.TrainingDate" asp-format="{0:yyyy-MM-dd}" type="text" class="form-control training-date" data-date-format="yyyy-mm-dd" />
                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Registration.TrainingTimeslot"></label>
                        <div class="input-group">
                            <select asp-for="Registration.TrainingTimeslot" class="form-control training-timeslot">
                                <option value="@Model.Registration.TrainingTimeslot">@Model.Registration.TrainingTimeslot</option>
                            </select>
                            <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="checkbox-list">
                            <div class="checkbox"><label><input type="checkbox" name="@Html.NameFor(m => m.Registration.TrainingDatePreferable)" class="preferred" value="true" @(Model.Registration.TrainingDatePreferable == true ? "checked" : "") /> No suitable choice</label></div>
                            <textarea asp-for="Registration.TrainingDateRemarks" class="form-control preferred-remark" disabled></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group required">
                        <label asp-for="Registration.Attendees"></label>
                        <select asp-for="Registration.Attendees" asp-items="Model.AttendeeList" class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group required">
                        <label asp-for="Registration.OperatingSystem"></label>
                        <select asp-for="Registration.OperatingSystem" asp-items="Model.OperatingSystemList" class="form-control"></select>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group required">
                        <label asp-for="Registration.CompanyName"></label>
                        <input asp-for="Registration.CompanyName" class="form-control company-name" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group required">
                        <label asp-for="Registration.FirstName"></label>
                        <input asp-for="Registration.FirstName" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group required">
                        <label asp-for="Registration.LastName"></label>
                        <input asp-for="Registration.LastName" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group required">
                        <label asp-for="Registration.PhoneNo"></label>
                        <div class="input-group">
                            <div class="input-group-addon">+852</div>
                            <input asp-for="Registration.PhoneNo" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group required">
                        <label asp-for="Registration.Email"></label>
                        <input asp-for="Registration.Email" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Registration.Remarks"></label>
                        <textarea asp-for="Registration.Remarks" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            @if (Model.Registration.Status != null)
            {
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Registration.Status"></label>
                            <div class="form-control-static">@Model.Registration.Status</div>
                        </div>
                    </div>
                </div>
            }
            <hr />
            <div class="row">
                <div class="col-md-12 text-center">
                    @if (Model.Registration.Status == RegistrationStatus.Pending || Model.Registration.Status == RegistrationStatus.Cancelled)
                    {
                        <button type="submit" value="save" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                        <button type="submit" value="submit" class="btn bg-navy"><i class="fa fa-check"></i> Submit</button>
                    }
                    else if (Model.Registration.Status == RegistrationStatus.Submitted || Model.Registration.Status == RegistrationStatus.Rescheduled)
                    {
                        <button type="submit" value="refresh" class="btn btn-primary"><i class="fa fa-refresh"></i> Re-schedule</button>
                        <button type="submit" value="cancel" class="btn btn-danger"><i class="fa fa-times"></i> Cancel</button>
                    }
                    else
                    {
                        <button type="submit" value="save" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                    }
                    @if ("overview".Equals(Model.From, StringComparison.OrdinalIgnoreCase))
                    {
                        <button type="button" class="btn btn-default" data-href="@Url.Page("/Training/Schedule/Index")">Back</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-default" data-href="@Url.Page("/Registration/Index")">Back</button>
                    }
                    <input asp-for="FormAction" type="hidden" />
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    @section InitScripts
    {
    var $district = $('.district');
    var $date = $('.training-date');
    var $timeslot = $('.training-timeslot');

    $district.on('change', function () {
        $date.datepicker('setDate', '');
        loadTimeslot();
    });
    $date.attr('autocomplete', 'off').datepicker().on('changeDate', function (e) {
        loadTimeslot();
    });

    var loadTimeslot = function () {
        var val = $timeslot.val();
        $timeslot.val('').empty();
        $timeslot.append($('<option value="">-- Please Select --</option>'));

        var district = $district.val();
        var date = moment($date.datepicker('getDate')).format('YYYY-MM-DD');
        var data = {
            district: district,
            date: date
        };

        $.get('@Url.Action("TrainingTimeslot", "Schedule")', data, function (data) {
            var hasVal = false;
            $(data).each(function () {
                var option = $('<option/>');
                option.attr('value', this.id);
                option.text(this.text);
                if (this.id == val) {
                    hasVal = true;
                }
                $timeslot.append(option);
            });
            if (val && hasVal) {
                $timeslot.val(val);
            }
        });
    };
    loadTimeslot();

    var districts = @Html.Raw(Json.Serialize(Model.DistrictList.Select(x => x.Value)));
    var $modelId = $('.model-id');
    var $modelName = $('.model-name');
    var $address = $('.address');
    $('.serial-no,.order-id').on('change', function () {
        var input = $(this).val();
        var type = $(this).is('.order-id') ? 'order' : 'serialNo';
        var data = { input: input, type: type };
        $.get('@Url.Action("GetInstallation", "Registration")', data, function (resp) {
            if (!resp.data) return;
            var install = resp.data;
            $address.val(install.installAddress || '');
            $modelId.text(install.modelId || '');
            $modelName.text(install.modelDesc || '');
            $('.serial-no').val(install.serialNo);
            $('.order-id').val(install.orderId);
            $('.company-name').val(install.companyName);

            //var district = districts.find(function (value) { return install.installDistrict && install.installDistrict.toLowerCase() == value.toLowerCase(); });
            //district && $district.val(district).trigger('change');
        });
    });

    $('.preferred').on('click', preferredChanged);
    function preferredChanged() {
        var chk = $('.preferred');
        if (chk.is(':checked')) {
            $('.preferred-remark').prop('disabled', false);
            $timeslot.prop('disabled', true);
        } else {
            $('.preferred-remark').prop('disabled', true);
            $timeslot.prop('disabled', false);
        }
    }
    preferredChanged();

    $(':submit').on('click', function () {
        var val = $(this).attr('value');
        $('[name=FormAction]').val(val);
    });
    }
</script>