﻿@page
@inherits DefaultPageBase
@model RicohTrainingRegistration.CMS.Pages.Registration.IndexModel
@{
    PageTitle("Registrations");
    PageHeading("Registrations");
    ActiveMenus("Registration");
    Breadcrumbs(
        new Breadcrumb("Registrations")
    );

    UseDatatable();
    UseDatePicker();
}

<div class="box box-solid">
    <div class="box-body">
        <div class="box box-default box-solid collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">Filters</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <form id="frm1" method="post" class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-2">Training Date</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="text" name="DateFrom" class="form-control dpkr" />
                                        <div class="input-group-addon">-</div>
                                        <input type="text" name="DateTo" class="form-control dpkr" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Venue Address</label>
                                <div class="col-md-8">
                                    <input type="text" name="VenueAddress" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">District</label>
                                <div class="col-md-8">
                                    @Html.DropDownList("District", Model.DistrictList, "-- Please select", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Serial No.</label>
                                <div class="col-md-8">
                                    <input type="text" name="SerialNo" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Model</label>
                                <div class="col-md-8">
                                    <input type="text" name="ModelNo" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Attendees</label>
                                <div class="col-md-8">
                                    @Html.DropDownList("Attendees", Model.AttendeeList, "-- Please select", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Operating System</label>
                                <div class="col-md-8">
                                    @Html.DropDownList("OperatingSystem", Model.OperatingSystemList, "-- Please select", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Company</label>
                                <div class="col-md-8">
                                    <input type="text" name="Company" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Contact Person</label>
                                <div class="col-md-8">
                                    <input type="text" name="Name" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Phone No.</label>
                                <div class="col-md-8">
                                    <input type="text" name="PhoneNo" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Email</label>
                                <div class="col-md-8">
                                    <input type="text" name="Email" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-2">Status</label>
                                <div class="col-md-10">
                                    <div class="checkbox-list">
                                        <label class="checkbox-inline"><input type="checkbox" name="Status[]" value="@(Database.RegistrationStatus.Pending)" /> Pending</label>
                                        <label class="checkbox-inline"><input type="checkbox" name="Status[]" value="@(Database.RegistrationStatus.Submitted)" checked /> Submitted</label>
                                        <label class="checkbox-inline"><input type="checkbox" name="Status[]" value="@(Database.RegistrationStatus.Rescheduled)" checked /> Rescheduled</label>
                                        <label class="checkbox-inline"><input type="checkbox" name="Status[]" value="@(Database.RegistrationStatus.Cancelled)" /> Cancelled</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                            <button type="reset" class="btn btn-default"><i class="fa fa-undo"></i> Reset</button>
                            &nbsp;
                            <button type="button" class="btn bg-purple btn-export"><i class="fa fa-download"></i> Export CSV</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table id="dt1" class="table table-bordered" style="width:100%" data-dt-ajax="@Url.Action("List", "Registration")">
                <thead>
                    <tr>
                        <th>Serial No.</th>
                        <th>Company</th>
                        <th>Contact</th>
                        <th>Model</th>
                        <th>Timeslot</th>
                        <th>Preferred Timeslot</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="actions">
            <button type="button" class="btn btn-success" data-href="@Url.Page("/Registration/Edit")"><i class="fa fa-plus"></i> New</button>
        </div>
    </div>
</div>

<script>
    @section InitScripts
    {
    $('.dpkr').attr('autocomplete', 'off').datepicker({
        format: 'yyyy/mm/dd'
    });

    var $form = $('#frm1');
    var dt1 = $('#dt1').DataTable({
        ajax: {
            url: $('#dt1').attr('data-dt-ajax'),
            data: function (data) { DT.ajaxData(data, $form); }
        },
        order: [[6, 'desc']],
        columns: [
            {
                name: 'serialNo',
                data: function (data) {
                    var serialNo = data.serialNo || '';
                    var orderId = data.orderId || '';
                    var edit = data.actions.find(function (value) { return value.title == 'Edit'; });
                    var url = edit ? edit.url : null;
                    if (url) {
                        serialNo = '<a href="' + url + '">' + serialNo + '</a>';
                    }
                    return serialNo + '<br />' + orderId;
                }
            },
            {
                name: 'companyName',
                data: function (data) {
                    return data.companyName + '<br />(' + data.attendees.label + ', ' + data.operatingSystem.label + ')';
                }
            },
            {
                name: 'firstName',
                data: function (data) {
                    var contact = '<div title="Contact Person" class="text-nowrap"><i class="fa fa-fw fa-user"></i> ' + data.firstName + ' ' + data.lastName + '</div>';
                    var phone = '<div title="Phone No." class="text-nowrap"><i class="fa fa-fw fa-phone"></i> +852 ' + data.phoneNo + '</div>';
                    var email = '<div title="Email" class="text-nowrap"><i class="fa fa-fw fa-envelope"></i> ' + data.email + '</div>';
                    return contact + phone + email;
                }
            },
            {
                data: 'modelName'
            },
            {
                name: 'scheduleDistrict',
                data: function (data) {
                    var text = '';
                    if (data.scheduleDistrict) {
                        text += data.scheduleDistrict;
                        if (data.scheduleDate) {
                            var date = moment(data.scheduleDate);
                            if (date.isValid()) {
                                text += ' ' + date.format('YYYY-MM-DD');
                            }
                            if (data.scheduleTimeslot) {
                                text += ' ' + data.scheduleTimeslot;
                            }
                        }
                    } else if (data.trainingDatePreferable == true) {
                        text = '<i class="fa fa-fw fa-commenting-o"></i>';
                    }
                    return text;
                }
            },
            {
                name: 'trainingDatePreferable',
                data: function (data) {
                    var remark = data.trainingDateRemarks || '';
                    return remark.replace(/(?:\r\n|\r|\n)/g, '<br/>');
                }
            },
            {
                data: 'submissionDate',
                render: DT.momentDateTime
            },
            {
                data: 'status'
            },
            DT.actions()
        ]
    });
    DT.form(dt1, $form);

    $('.btn-export').on('click', function () {
        var data = $form.serialize();
        var url = '@Url.Action("Export", "Registration")?' + data;
        window.open(url, '_blank');
    });
    }
</script>
