﻿@page
@inherits DefaultPageBase
@model RicohTrainingRegistration.Pages.Registration.FailModel

<div class="page-result container-wrapper d-flex justify-content-center align-items-center">
    <div class="container-fluid d-flex justify-content-center align-items-center">
        <div class="icon-wrapper">
            <div class="i-result i-fail">
                <svg xmlns="http://www.w3.org/2000/svg" width="110" height="110" viewBox="0 0 110 110">
                    <g fill="none" fill-rule="nonzero">
                        <circle cx="55" cy="55" r="55" fill="#B5427C" opacity=".07" />
                        <circle cx="55" cy="55" r="32.778" fill="#B5427C" />
                        <path fill="#B5427C" d="M55.394 98.889c.703 0 1.273.57 1.273 1.273v8.565c0 .703-.57 1.273-1.273 1.273h-.788c-.703 0-1.273-.57-1.273-1.273v-8.565c0-.703.57-1.273 1.273-1.273h.788zM23.757 85.825l.557.557a1.273 1.273 0 0 1 0 1.8l-6.057 6.057a1.273 1.273 0 0 1-1.8 0l-.557-.557a1.273 1.273 0 0 1 0-1.8l6.057-6.057a1.273 1.273 0 0 1 1.8 0zm64.356-.07l6.056 6.057a1.273 1.273 0 0 1 0 1.8l-.557.557a1.273 1.273 0 0 1-1.8 0l-6.056-6.056a1.273 1.273 0 0 1 0-1.8l.557-.557a1.273 1.273 0 0 1 1.8 0zM9.838 53.334c.703 0 1.273.57 1.273 1.273v.788c0 .703-.57 1.273-1.273 1.273H1.273C.57 56.667 0 56.097 0 55.394v-.788c0-.703.57-1.273 1.273-1.273h8.565zm98.89 0c.702 0 1.272.57 1.272 1.273v.788c0 .703-.57 1.273-1.273 1.273h-8.565c-.703 0-1.273-.57-1.273-1.273v-.788c0-.703.57-1.273 1.273-1.273h8.565zM93.681 15.9l.557.557a1.273 1.273 0 0 1 0 1.8l-6.057 6.057a1.273 1.273 0 0 1-1.8 0l-.557-.557a1.273 1.273 0 0 1 0-1.8l6.057-6.057a1.273 1.273 0 0 1 1.8 0zm-75.494-.07l6.056 6.057a1.273 1.273 0 0 1 0 1.8l-.557.557a1.273 1.273 0 0 1-1.8 0l-6.056-6.056a1.273 1.273 0 0 1 0-1.8l.557-.557a1.273 1.273 0 0 1 1.8 0zM55.394 0c.703 0 1.273.57 1.273 1.273v8.565c0 .703-.57 1.273-1.273 1.273h-.788c-.703 0-1.273-.57-1.273-1.273V1.273c0-.703.57-1.273 1.273-1.273h.788z" />
                    </g>
                </svg>
                <span></span>
                <span></span>
            </div>
        </div>
        <h1 class="h1 text-uppercase">@Localize("Not Success")</h1>
        <p class="description">@Localize(Model.Description)</p>
        <div class="btn-group justify-content-center align-items-center">
            <button type="button" class="btn btn-primary" data-href="@Url.Page("/Registration/Index")">@Localize("Try again")</button>
        </div>
    </div>
</div>