﻿@page
@inherits DefaultPageBase
@model RicohTrainingRegistration.Pages.Registration.PreviewModel
@{
    var chi = IsZh;
}

<div class="registration container-wrapper pt-0">
    <div class="page-banner d-flex justify-content-center align-items-end">
        <div class="bg"></div>
        <div class="container-fluid d-flex">
            <div class="row justify-content-center align-items-start">
                <div class="col-12 col-xl-6">
                    <div class="image-wrapper">
                        <img src="~/assets/images/2.0_page.png" alt="Training Registration" class="img-fluid" />
                    </div>
                </div>
                <div class="col-12 col-xl-6">
                    <div class="text-wrapper">
                        <h1 class="h1">@LocalizeHtml("Training<br />Registration")</h1>
                        <div class="serial-number i-check">@Localize("Serial no.: {0}", Model.Install?.SerialNo)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="page-header">
            <h2 class="h2">@Localize("Training Registration")</h2>
            <p class="mb-t">@Localize("Please click \"Confirm\" after you checked your information.")</p>
            <div class="custom-wrapper mw-md">
                <div class="row">
                    <div class="form-group">
                        <div class="col-12 col-lg-3">
                            <p class="bold">@Localize("Model:")</p>
                        </div>
                        <div class="col-12 col-lg-9">
                            <p>@(Model.Training?.ModelName)</p>
                        </div>
                    </div>
                    <partial name="_Agenda" model="Model.Agenda" />
                </div>
            </div>
        </div>
        <div class="custom-toggle-wrapper mw-md">
            <h3 class="h3">Training Preferences</h3>
            <button class="custom-toggle-btn toggle collapsed" type="button" data-toggle="collapse" data-target="#trainingPreference"
                    aria-expanded="false" aria-controls="collapseExample">
                <span></span>
            </button>
        </div>
    </div>

    <form id="frm1" method="post" class="custom-form">
        <input asp-for="Session" type="hidden" />
        <div class="collapse show" id="trainingPreference">
            <div class="container-fluid">
                <div class="mw-md">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-12">
                                <label>@Localize("Training Venue")*</label>
                                <div class="text-box">@(Model.Register.VenueAddress)</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <label>@Localize("District")*</label>
                                <div class="text-box">@(Model.Register.DistrictDisplay)</div>
                            </div>
                        </div>
                        <div class="form-group">
                            @if (string.IsNullOrEmpty(Model.Register.TrainingTimeslot))
                            {
                                <div class="col-12">
                                    <label>@Localize("Cannot find your desired training time")</label>
                                    <div class="text-box">
                                        @Html.Raw(Model.Register.TrainingDateRemarks?.Replace(Environment.NewLine, "<br />"))
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-12 col-lg-6">
                                    <label>@Localize("Training Date")*</label>
                                    <div class="text-box">@(Model.Register.TrainingDate)</div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <label>@Localize("Preferred Timeslot")*</label>
                                    <div class="text-box">@(Model.Register.TrainingTimeslot)</div>
                                </div>
                            }
                        </div>
                        <div class="form-group">
                            <div class="col-12 col-lg-6">
                                <label>@Localize("No. of Attendees")*</label>
                                <div class="text-box">@(Model.Register.AttendeesDisplay)</div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <label>@Localize("Operating System")*</label>
                                <div class="text-box">@(Model.Register.OperatingSystemDisplay)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="custom-toggle-wrapper mw-md">
                <h3 class="h3">@Localize("Contact Info")</h3>
                <button class="custom-toggle-btn toggle collapsed" type="button" data-toggle="collapse" data-target="#contactInfo"
                        aria-expanded="false" aria-controls="collapseExample">
                    <span></span>
                </button>
            </div>
            <div class="collapse" id="contactInfo">
                <div class="mw-md">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-12">
                                <label>@Localize("Company Name")*</label>
                                <div class="text-box">@(Model.Register.CompanyName)</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12 col-lg-6">
                                <label>@Localize("First Name")*</label>
                                <div class="text-box">@(Model.Register.FirstName)</div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <label>@Localize("Last Name")*</label>
                                <div class="text-box">@(Model.Register.LastName)</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12 col-lg-6">
                                <label>@Localize("Phone No.")*</label>
                                <div class="custom-number">
                                    <div class="text-box">@(Model.Register.PhoneNo)</div>
                                    <span>+852</span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <label>@Localize("Email Address")*</label>
                                <div class="text-box">@(Model.Register.Email)</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <label>@Localize("Remarks")</label>
                                <div class="text-box">
                                    @Html.Raw(Model.Register.Remarks?.Replace(Environment.NewLine, "<br />"))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mw-md">
                <div class="btn-group justify-content-center justify-content-lg-end align-items-center">
                    <button type="submit" class="btn btn-primary i-arrow">@Localize("Confirm")</button>
                    <button type="button" class="btn btn-secondary" data-href="@Url.Page("/Registration/Index")">@Localize("Back")</button>
                </div>
            </div>
        </div>
    </form>
</div>
<partial name="_ScrollTop" />
<partial name="_AgendaModal" model="Model.Agenda" />

<script>
    @section InitScripts
    {
    Ajax.form({
        form: '#frm1'
    });
    }
</script>