﻿@model RicohTrainingRegistration.CMS.Pages.Setting.GeneralModel

<h4>Deadlines</h4>
<div class="form-group">
    @Html.LabelFor(m => m.Setting.OpenedDayForRegistration, "Number of days opened for registration", new { @class = "control-label col-md-4" })
    <div class="col-md-3">
        <div class="input-group">
            @Html.TextBoxFor(m => m.Setting.OpenedDayForRegistration, new { @class = "form-control", type = "number" })
            <div class="input-group-addon">
                <span>Days</span>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Setting.FreeTrainingPeriod, "Valid period of free training after installation", new { @class = "control-label col-md-4" })
    <div class="col-md-3">
        <div class="input-group">
            @Html.TextBoxFor(m => m.Setting.FreeTrainingPeriod, new { @class = "form-control", type = "number" })
            <div class="input-group-addon">
                <span>Days</span>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Setting.RegistrationDeadlineHour, "Registration deadline", new { @class = "control-label col-md-4" })
    <div class="col-md-7">
        <div class="input-group">
            @Html.TextBoxFor(m => m.Setting.RegistrationDeadlineHour, new { @class = "form-control", type = "number", placeholder = "Hour", style = "text-align:center", maxlength = 2 })
            <div class="input-group-addon">
                <span>:</span>
            </div>
            @Html.TextBoxFor(m => m.Setting.RegistrationDeadlineMinute, new { @class = "form-control", type = "number", placeholder = "Minute", style = "text-align:center", maxlength = 2 })
            <div class="input-group-addon">
                <span>On</span>
            </div>
            @Html.TextBoxFor(m => m.Setting.RegistrationDeadlineDay, new { @class = "form-control", type = "number", placeholder = "Day", style = "text-align:center", maxlength = 2 })
            <div class="input-group-addon">
                <span>working day(s) before training day</span>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Setting.FreeTrainingPeriod, "Reschedule training with cuttoff", new { @class = "control-label col-md-4" })
    <div class="col-md-3">
        <div class="checkbox-list">
            <label class="checkbox-inline"><input asp-for="Setting.RescheduleHasCutoff" type="checkbox" value="true" /> Yes</label>
        </div>
        <span class="help-block">Cut off time - 12:00 noon on 1 working day before the training day</span>
    </div>
</div>
