﻿@model RicohTrainingRegistration.CMS.Pages.Setting.GeneralModel
@inject AppSettings appSettings

<h4>Footer Links</h4>
<div class="table-responsive">
    <table class="table table-bordered table-condensed" style="width:100%">
        <thead>
            <tr>
                <th>Label (Eng)</th>
                <th>Label (Chi)</th>
                <th width="35%">Url (Eng)</th>
                <th width="35%">Url (Chi)</th>
                <th width="1%">Display</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < appSettings.MaxFooterLinks; i++)
            {
                var footer = Model.Setting.FooterLinks?.Skip(i).Take(1).FirstOrDefault();
                <tr>
                    <td>@Html.TextBoxFor(m => m.Setting.FooterLinks[i].LabelEng, new { @class = "form-control input-sm" })</td>
                    <td>@Html.TextBoxFor(m => m.Setting.FooterLinks[i].LabelChi, new { @class = "form-control input-sm" })</td>
                    <td>@Html.TextBoxFor(m => m.Setting.FooterLinks[i].UrlEng, new { @class = "form-control input-sm" })</td>
                    <td>@Html.TextBoxFor(m => m.Setting.FooterLinks[i].UrlChi, new { @class = "form-control input-sm" })</td>
                    <td><input type="checkbox" name="@Html.NameFor(m => m.Setting.FooterLinks[i].Display)" value="true" @Html.Checked(footer?.Display) /></td>
                </tr>
            }
        </tbody>
    </table>
</div>
