﻿@model RicohTrainingRegistration.CMS.Pages.Setting.GeneralModel

<h4>Dropdown Lists</h4>
<div class="form-group">
    @Html.LabelFor(m => m.Setting.Attendees, "Attendees", new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <div class="table-responsive">
            <table id="dtAttendees" class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Value</th>
                        <th>Name (Eng)</th>
                        <th>Name (Chi)</th>
                        <th>Note (Eng)</th>
                        <th>Note (Chi)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <button type="button" class="btn btn-default btn-sm btnAdd"><i class="fa fa-plus"></i> Add</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Setting.OperatingSystems, "Operating Systems", new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <div class="table-responsive">
            <table id="dtOperatingSystems" class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Value</th>
                        <th>Name (Eng)</th>
                        <th>Name (Chi)</th>
                        <th>Note (Eng)</th>
                        <th>Note (Chi)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <button type="button" class="btn btn-default btn-sm btnAdd"><i class="fa fa-plus"></i> Add</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
