﻿@model RicohTrainingRegistration.CMS.Pages.Setting.GeneralModel

<h4>Messages</h4>
<div class="form-group">
    @Html.LabelFor(m => m.Setting.SerialNoHintEng, "Serial No. Hint (Eng)", new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.Setting.SerialNoHintEng, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Setting.SerialNoHintChi, "Serial No. Hint (Chi)", new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.Setting.SerialNoHintChi, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Setting.SerialNoHintChi, "Serial No. Hint Image", new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        <input id="HintImage" type="file" name="@Html.NameFor(m => m.HintImage)" accept="image/*" />
        @Html.BsValidationMessageFor(m => m.HintImage)
    </div>
</div>
