﻿@model RicohTrainingRegistration.CMS.Pages.Setting.GeneralModel

<h4>Problem Codes</h4>
<div class="form-group">
    @Html.LabelFor(m => m.Setting.CompletedInstallationProblemCodes, "Completed Machine Installation", new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.ListBoxFor(m => m.Setting.CompletedInstallationProblemCodes, new SelectList(Model.Setting.CompletedInstallationProblemCodes ?? Enumerable.Empty<string>()), new { @class = "form-control select2", style = "width:100%", data_tags = "true" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Setting.CompletedTrainingProblemCodes, "Completed Training", new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.ListBoxFor(m => m.Setting.CompletedTrainingProblemCodes, new SelectList(Model.Setting.CompletedTrainingProblemCodes ?? Enumerable.Empty<string>()), new { @class = "form-control select2", style = "width:100%", data_tags = "true" })
    </div>
</div>
