﻿@page
@inherits DefaultPageBase
@model RicohTrainingRegistration.CMS.Pages.Setting.GeneralModel
@{
    PageTitle("General Settings");
    PageHeading("Settings", "General");
    ActiveMenus("Setting", "General");
    Breadcrumbs(
        new Breadcrumb("Settings"),
        new Breadcrumb("General")
    );

    UseDatatable();
    UseSelect2();

    var setting = Model.Setting;
}

@section PluginStyles
{
    <link rel="stylesheet" href="~/plugins/bootstrap-fileinput/css/fileinput.min.css" />
}

<div class="box box-solid">
    <div class="box-body">
        <form id="frm1" method="post" class="form-horizontal" enctype="multipart/form-data">
            @Html.BsValidationSummary(true)

            <div class="row">
                <div class="col-md-12">
                    <partial name="_ProblemCodes" />
                    <hr />
                    <partial name="_Deadlines" />
                    <hr />
                    <partial name="_Lists" />
                    <hr />
                    <partial name="_Messages" />
                    <hr />
                    <partial name="_FooterLinks" />
                    <hr />
                    <div class="row">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section PluginScripts
{
    <script type="text/javascript" src="~/plugins/bootstrap-fileinput/js/fileinput.min.js"></script>
}

<script>
    @section InitScripts
    {
    $('.select2').select2();

    var opts = {
        processing: false,
        serverSide: false,
        searching: false,
        ordering: false,
        paging: false,
        ajax: null
    };
    var renderTextBox = function (context, name, index, data) {
        return '<input type="text" name="setting.' + context + '[' + index + '].' + name + '" value="' + (data[name] || '') + '" class="form-control input-sm" style="width:100%" />';
    };
    var renderButton = function (data) {
        return '<button type="button" class="btn btn-danger btn-xs btnRemove"><i class="fa fa-times"></i></button>';
    };
    $('#dtAttendees').DataTable($.extend({}, opts, {
        data: @Html.Raw(Json.Serialize(Model.Setting.Attendees)),
        columns: [
            { data: function (row, type, set, meta) { return renderTextBox('attendees', 'slug', meta.row, row); } },
            { data: function (row, type, set, meta) { return renderTextBox('attendees', 'nameEng', meta.row, row); } },
            { data: function (row, type, set, meta) { return renderTextBox('attendees', 'nameChi', meta.row, row); } },
            { data: function (row, type, set, meta) { return renderTextBox('attendees', 'noteEng', meta.row, row); } },
            { data: function (row, type, set, meta) { return renderTextBox('attendees', 'noteChi', meta.row, row); } },
            { data: renderButton, width: '1%' }
        ]
    }));
    $('#dtOperatingSystems').DataTable($.extend({}, opts, {
        data: @Html.Raw(Json.Serialize(Model.Setting.OperatingSystems)),
        columns: [
            { data: function (row, type, set, meta) { return renderTextBox('operatingsystems', 'slug', meta.row, row); } },
            { data: function (row, type, set, meta) { return renderTextBox('operatingsystems', 'nameEng', meta.row, row); } },
            { data: function (row, type, set, meta) { return renderTextBox('operatingsystems', 'nameChi', meta.row, row); } },
            { data: function (row, type, set, meta) { return renderTextBox('operatingsystems', 'noteEng', meta.row, row); }, visible: false },
            { data: function (row, type, set, meta) { return renderTextBox('operatingsystems', 'noteChi', meta.row, row); }, visible: false },
            { data: renderButton, width: '1%' }
        ]
    }));

    $('table').on('click', '.btnAdd', function () {
        var api = $(this).closest('table').DataTable();
        api.row.add({}).draw();
    });

    $('table').on('click', '.btnRemove', function () {
        var api = $(this).closest('table').DataTable();
        var tr = $(this).closest('tr')[0];
        api.row(tr).remove().draw();
    });

    var frm = $('#frm1');
    frm.on('submit', function (e) {
        e.preventDefault();

        var formData = new FormData(this);
        Ajax.load({
            url: this.action,
            data: formData,
            processData: false,
            contentType: false
        });
    });

    var handleFileInput = function (input, previewData) {
        $(input).fileinput({
            initialPreview: previewData.map(function (value) { return value.url; }),
            initialPreviewAsData: true,
            initialPreviewConfig: previewData.map(function (value, index) {
                return {
                    caption: value.fileName,
                    downloadUrl: value.url,
                    size: value.contentLength,
                    width: '120px',
                    key: value.id,
                    type: value.contentType == 'application/pdf' ? 'pdf' : undefined
                };
            }),
            overwriteInitial: true,
            browseOnZoneClick: true,
            fileActionSettings: { showUpload: false },
            deleteUrl: '@Url.Action("Remove", "Media")',
            uploadUrl: '/media',
            showUpload: false,
            showRemove: false,
            dropZoneEnabled: false
        });
        $(input).on('filedeleted', function (e, key, jqXHR, data) {
            $('<input type="hidden" name="@Html.NameFor(m => m.RemoveHintImage)" value="true" />').appendTo(frm);
        });
    };
    handleFileInput('#HintImage', @Html.Raw(Json.Serialize(Model.HintMedia != null ? new[] { Model.HintMedia } : new RicohTrainingRegistration.CMS.Models.MediaModel[] { })));
    }
</script>