﻿@page
@inject AppSettings appSettings
@inherits DefaultPageBase
@model RicohTrainingRegistration.CMS.Pages.Faq.IndexModel
@{
    PageTitle("FAQ Documents");
    PageHeading("FAQ Documents");
    ActiveMenus("Faq");
    Breadcrumbs(
        new Breadcrumb("FAQ Documents")
    );
    UseJqueryValidate();
}

@section PluginStyles
{
    <link rel="stylesheet" href="~/plugins/bootstrap-fileinput/css/fileinput.min.css" />
}

@functions
{
    string FaqUrl(string lang)
    {
        if (Uri.TryCreate(appSettings.RegistrationUrl, UriKind.Absolute, out Uri uri))
        {
            var builder = new UriBuilder(uri);
            builder.Path = builder.Path.TrimEnd('/') + "/download/faq";
            builder.Query = System.Web.HttpUtility.ParseQueryString($"?lang={lang}").ToString();
            return builder.Uri.AbsoluteUri;
        }
        return "";
    }
}

<div class="box box-default box-solid">
    <div class="box-body">
        <form id="frm1" method="post" class="" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.DocumentsEng, "Documents (Eng)")
                        <input id="DocumentsEng" type="file" name="@Html.NameFor(m => m.DocumentsEng)" accept="image/jpeg,image/jpg,image/png,application/pdf" />
                        @Html.BsValidationMessageFor(m => m.DocumentsEng)
                        <span class="help-block"><a href="@(FaqUrl("en"))" target="_blank">@(FaqUrl("en"))</a></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.DocumentsChi, "Documents (Chi)")
                        <input id="DocumentsChi" type="file" name="@Html.NameFor(m => m.DocumentsChi)" accept="image/jpeg,image/jpg,image/png,application/pdf" />
                        @Html.BsValidationMessageFor(m => m.DocumentsChi)
                        <span class="help-block"><a href="@(FaqUrl("zh"))" target="_blank">@(FaqUrl("zh"))</a></span>
                    </div>
                </div>
            </div>

            <hr />
            <div class="row">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section PluginScripts
{
    <script type="text/javascript" src="~/plugins/bootstrap-fileinput/js/fileinput.min.js"></script>
}

@{
    var mediaEng = Model.MediaList.Where(x => x.Language.Equals(Database.TrainingAgendaMedia.English, StringComparison.OrdinalIgnoreCase));
    var mediaChi = Model.MediaList.Where(x => x.Language.Equals(Database.TrainingAgendaMedia.Chinese, StringComparison.OrdinalIgnoreCase));
}
<script>
    @section InitScripts
    {
    var frm = $('#frm1');

    var handleFileInput = function (input, previewData) {
        $(input).fileinput({
            initialPreview: previewData.map(function (value) { return value.url; }),
            initialPreviewAsData: true,
            initialPreviewConfig: previewData.map(function (value, index) {
                return {
                    caption: value.fileName,
                    downloadUrl: value.url,
                    size: value.contentLength,
                    width: '120px',
                    key: value.id,
                    type: value.contentType == 'application/pdf' ? 'pdf' : undefined
                };
            }),
            overwriteInitial: true,
            browseOnZoneClick: true,
            fileActionSettings: { showUpload: false },
            deleteUrl: '@Url.Action("Remove", "Media")',
            uploadUrl: '/media',
            showUpload: false,
            showRemove: false,
            dropZoneEnabled: false
        });
        $(input).on('filedeleted', handleFileDeleted);
    };
    var handleFileDeleted = function (e, key, jqXHR, data) {
        $('<input type="hidden" name="@Html.NameFor(m => m.RemoveDocuments)" value="' + key + '" />').appendTo(frm);
    };

    handleFileInput('#DocumentsEng', @Html.Raw(Json.Serialize(mediaEng)));
    handleFileInput('#DocumentsChi', @Html.Raw(Json.Serialize(mediaChi)));

    frm.on('submit', function (e) {
        e.preventDefault();

        var formData = new FormData(this);
        Ajax.load({
            url: this.action,
            data: formData,
            processData: false,
            contentType: false
        });
    });
    }
</script>