﻿@page
@inherits DefaultPageBase
@inject AppSettings appSettings
@model RicohTrainingRegistration.CMS.Pages.Training.Schedule.DefaultModel
@using RicohTrainingRegistration.CMS.Models
@{
    PageTitle("Training Schedule");
    PageHeading("Training Schedule", "Default");
    ActiveMenus("Training", "Default");
    Breadcrumbs(
        new Breadcrumb("Training Schedule"),
        new Breadcrumb("Default")
    );

    UseDatePicker();
    UseTimePicker();

    var dayOfWeeks = appSettings.DayOfWeeks;
    var districts = appSettings.Districts;
    var colspan = districts.Length;
    var timeslots = Model.ScheduleDefaults.GroupBy(x => x.Timeslot).OrderBy(x => x.Key).ToList();
}

@section PageStyles
{
    <style type="text/css">
        #dt1 input {
            min-width: 30px;
        }
        #dt1 input.timepicker {
            min-width: 50px;
        }
    </style>
}

<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Default Weekly Training Schedule</h3>
    </div>
    <div class="box-body">
        <div class="callout callout-info">
            <h4><i class="fa fa-info-circle"></i> Reminder</h4>
            <p>Updating default weekly training schedule will overwrite all of the existing active created schedule.</p>
        </div>
        <div class="table-responsive">
            <table id="dt1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        @foreach (var dow in dayOfWeeks)
                        {
                            <th colspan="@(colspan)" class="text-center">@(dow.ToString().Substring(0, 3).ToUpper())</th>
                        }
                        <th></th>
                    </tr>
                    <tr>
                        <th>Timeslot&nbsp;<button type="button" class="btn btn-success btn-xs btn-add"><i class="fa fa-plus"></i> Add</button></th>
                        @foreach (var dow in dayOfWeeks)
                        {
                            foreach (var dis in districts)
                            {
                                <th>@(dis.ToUpper())</th>
                            }
                        }
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-4">Apply from</label>
                        <div class="col-md-4">
                            <input asp-for="StartDate" asp-format="{0:yyyy/MM/dd}" type="text" class="form-control dpkr" data-date-format="yyyy/mm/dd" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="row">
                <div class="col-sm-offset-4 col-sm-4">
                    <div class="">
                        <button type="button" class="btn btn-primary btn-save"><i class="fa fa-check"></i> Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section PageScripts
{
    <script src="~/js/pages/training/schedule/default.js"></script>
}

@{
    var pageData = Model.ScheduleDefaults
        .GroupBy(x => x.Timeslot)
        .ToDictionary(x => x.Key, x => Enumerable.Empty<ScheduleDefaultEditModel>()
        .Concat(x.Select(m => new ScheduleDefaultEditModel { DayOfWeek = m.DayOfWeek, District = District.Hk, Quota = m.Hk }))
        .Concat(x.Select(m => new ScheduleDefaultEditModel { DayOfWeek = m.DayOfWeek, District = District.Kln, Quota = m.Kln }))
        .Concat(x.Select(m => new ScheduleDefaultEditModel { DayOfWeek = m.DayOfWeek, District = District.Nt, Quota = m.Nt }))
        );
}

<script>
    var DAYS_OF_WEEK = @Html.Raw(Json.Serialize(dayOfWeeks));
    var DISTRICTS = @Html.Raw(Json.Serialize(districts));

    @section InitScripts
    {
    Page.init({
        data: @Html.Raw(Json.Serialize(pageData))
    });
    }
</script>