﻿@page
@inherits DefaultPageBase
@inject AppSettings appSettings
@model RicohTrainingRegistration.CMS.Pages.Training.Schedule.IndexModel
@{
    PageTitle("Training Schedule");
    PageHeading("Training Schedule", "Overview");
    ActiveMenus("Training", "Overview");
    Breadcrumbs(
        new Breadcrumb("Training Schedule"),
        new Breadcrumb("Overview")
    );

    var currentMonth = Model.CurrentMonth;
    var prevMonth = currentMonth.AddMonths(-1);
    var nextMonth = currentMonth.AddMonths(1);
    var today = Model.Today;
    var isThisMonth = currentMonth.Year == today.Year && currentMonth.Month == today.Month;
    var data = Model.Data;

    var dayOfWeeks = appSettings.DayOfWeeks;
    var districts = appSettings.Districts;
}

<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Scheduled Training Sessions</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-left">
                    <button type="button" class="btn btn-link" data-href="@Url.Page("/Training/Schedule/Index", new { year = prevMonth.Year, month = prevMonth.Month })"><i class="fa fa-fw fa-caret-left"></i></button>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn @(isThisMonth ? "btn-primary" : "btn-blank")" data-href="@Url.Page("/Training/Schedule/Index", new { year = today.Year, month = today.Month })">Today</button>
                    <button type="button" class="btn btn-link" data-href="@Url.Page("/Training/Schedule/Index", new { year = nextMonth.Year, month = nextMonth.Month })"><i class="fa fa-fw fa-caret-right"></i></button>
                </div>
                <div class="text-center" style="padding: 5px 0; font-size:18px">@(string.Format("{0:MM/yyyy}", Model.CurrentMonth))</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @if (data == null)
                {
                    <hr />
                    <div class="alert alert-warning">
                        <h4><i class="icon fa fa-warning"></i> Notice</h4>
                        No scheduled sessions for this month.
                    </div>
                    if (currentMonth >= new DateTime(today.Year, today.Month, 1))
                    {
                        <div class="text-center">
                            <button type="button" class="btn btn-primary btn-lg btn-generate" data-generate-url="@Url.Page("/Training/Schedule/Index", new { year = currentMonth.Year, month = currentMonth.Month })">Generate sessions for this month<br />(@(string.Format("{0:MM/yyyy}", Model.CurrentMonth)))</button>
                        </div>
                    }
                }
                else
                {
                    <br />
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs nav-justified">
                            @for (int i = 0; i < districts.Length; i++)
                            {
                                var dis = districts[i];
                                <li class="@(i == 0 ? "active" : "")">
                                    <a href="#tab_@(dis.ToLower())" data-toggle="tab">@(dis.ToUpper())</a>
                                </li>
                            }
                        </ul>
                        <div class="tab-content">
                            @for (int i = 0; i < districts.Length; i++)
                            {
                                var dis = districts[i];
                                var model = data.ScheduledSessions.Where(x => x.District == dis);
                                var viewData = new ViewDataDictionary(ViewData);
                                viewData["CurrentMonth"] = currentMonth;
                                viewData["Holidays"] = Model.Holidays;
                                viewData["District"] = dis;

                                <div id="tab_@(dis.ToLower())" class="tab-pane @(i == 0 ? "active" : "")">
                                    <partial name="_ScheduledSession" model="model" view-data="viewData" />
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    @section InitScripts
    {
    $('.btn-generate').on('click', function () {
        var url = $(this).attr('data-generate-url');
        var data = $.extend({}, __csrf);
        Ajax.load({ url: url, data: data });
    });
    }
</script>