﻿@model RicohTrainingRegistration.Database.TrainingAgenda
@inject Microsoft.Extensions.Localization.IStringLocalizer<Resources.Resource> localizer
@using Localization
@{
    if (Model == null)
    {
        return;
    }

    var culture = Context.GetCulture().Name;
    var chi = "zh".Equals(Context.GetCulture()?.TwoLetterISOLanguageName, StringComparison.OrdinalIgnoreCase);
}

<div class="agenda-popup modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="h3">@localizer["Training Agenda"]</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="description">
                    @Html.Paragraph(chi ? Model.ContentChi : Model.ContentEng)
                </p>
            </div>
        </div>
    </div>
</div>