﻿@model RicohTrainingRegistration.Database.TrainingAgenda
@inject Microsoft.Extensions.Localization.IStringLocalizer<Resources.Resource> localizer
@using Localization
@{
    if (Model == null)
    {
        return;
    }

    var agenda = Model;
    var culture = Context.GetCulture().Name;
    var chi = "zh".Equals(Context.GetCulture()?.TwoLetterISOLanguageName, StringComparison.OrdinalIgnoreCase);
    var content = chi ? agenda.ContentChi : agenda.ContentEng;
    var url = chi ? agenda.UrlChi : agenda.UrlEng;
    var label = chi ? agenda.UrlLabelChi : agenda.UrlLabelEng;
    var files = agenda.TrainingAgendaMedia?.Where(a => culture?.Substring(0, 2).Equals(a.Language?.Substring(0, 2), StringComparison.OrdinalIgnoreCase) == true).ToList();
}

<div class="form-group">
    <div class="col-12 col-lg-3">
        <p class="bold">@localizer["Training Agenda:"]</p>
    </div>
    <div class="col-12 col-lg-9">
        <p class="agenda">
            @Html.Paragraph(content)
            <span data-toggle="modal" data-target=".agenda-popup">@localizer["show more"]</span>
        </p>
        @foreach (var file in files)
        {
            var type = "";
            if (file.Media?.ContentType.StartsWith("image", StringComparison.OrdinalIgnoreCase) == true)
            {
                type = "i-jpg";
            }
            else if (file.Media?.ContentType.EndsWith("pdf", StringComparison.OrdinalIgnoreCase) == true)
            {
                type = "i-pdf";
            }
            <p class="@(type)"><a asp-action="Index" asp-controller="Download" asp-route-fileId="@(file.Media?.Id)" target="_blank">@(file.Media?.FileName)</a></p>
        }
        @if (!string.IsNullOrWhiteSpace(label) && !string.IsNullOrWhiteSpace(url))
        {
            <a href="@(url)" target="_blank">@(label ?? url)</a>
        }
    </div>
</div>