﻿@inject SiteSettings settings
@inject Microsoft.Extensions.Localization.IStringLocalizer<Resources.Resource> res
@using Localization
@{
    var chi = "zh".Equals(Context.GetCulture()?.TwoLetterISOLanguageName, StringComparison.OrdinalIgnoreCase);
}

<footer class="footer-bar">
    <div class="container-fluid flex-row space-between align-center">
        <p>&copy; @(DateTime.Today.Year) Ricoh Hong Kong Limited. <br />@(res["All Rights Reserved."])</p>
        <ul>
            @foreach (var item in settings.FooterLinks)
            {
                if (item.Display == true)
                {
                    var url = chi ? item.UrlChi : item.UrlEng;
                    var label = chi ? item.LabelChi : item.LabelEng;
                    if (!string.IsNullOrWhiteSpace(url) && !string.IsNullOrWhiteSpace(label))
                    {
                        <li><a href="@(url)" target="_blank" rel="noopener noreferrer">@(label)</a></li>
                    }
                }
            }
        </ul>
    </div>
</footer>
