﻿@inject Microsoft.Extensions.Configuration.IConfiguration config
@{
    var id = config.GetSection("GoogleAnalytics:TrackingID").Value;
}

<script async src="https://www.googletagmanager.com/gtag/js?id=@(id)"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '@(id)');
</script>
