﻿@using Localization;
@{
    var culture = Context.GetCulture()?.Name;
}

<header class="header-bar">
    <div class="container-fluid flex-row space-between align-center">
        <div class="logo" data-href="@Url.Page("/Index")/"></div>
        <ul class="lang">
            <li class="@(culture?.StartsWith("zh", StringComparison.OrdinalIgnoreCase) == true ? "active" : "")"><a asp-action="SetLang" asp-controller="Home" asp-route-culture="zh">中<span>文</span></a></li>
            <li class="@(culture == null || culture?.StartsWith("en", StringComparison.OrdinalIgnoreCase) == true ? "active" : "")"><a asp-action="SetLang" asp-controller="Home" asp-route-culture="en">EN<span>GLISH</span></a></li>
        </ul>
    </div>
</header>