﻿@inject Microsoft.Extensions.Localization.IStringLocalizer<Resources.Resource> localizer
@using Localization
@{
    var culture = Context.GetCulture().Name;
    var chi = "zh".Equals(Context.GetCulture()?.TwoLetterISOLanguageName, StringComparison.OrdinalIgnoreCase);
}

<head>
    <partial name="_GoogleAnalytics" />
    <!-- meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="Ricoh" />
    <meta name="description" content="@(localizer["Head_Description"])" />
    <title>@(localizer["Head_Title"])</title>

    @if (chi)
    {
        <meta property="og:title" content="預約客户培訓課程 | 香港Ricoh" />
        <meta property="og:description" content="預約客户培訓課程，更改／取消預約；理光專員將帶您掌握產品的各種功能，讓您充分了解我們的設備。‎" />
        <meta property="og:site_name" content="香港Ricoh" />
        <meta property="og:image" content="@Url.ContentLink("~/assets/images/1.0_home.png")" />
        <meta property="og:type" content="website" />

        <meta name="twitter:title" content="預約客户培訓課程 | 香港Ricoh" />
        <meta name="twitter:description" content="預約客户培訓課程，更改／取消預約；理光專員將帶您掌握產品的各種功能，讓您充分了解我們的設備。" />
        <meta name="twitter:image" content="@Url.ContentLink("~/assets/images/1.0_home.png")" />
        <meta name="twitter:card" content="summary_large_image" />
    }
    else
    {
        <meta property="og:title" content="Training Registration | Ricoh Hong Kong" />
        <meta property="og:description" content="‎Register the complimentary training of Ricoh Products; reschedule Training. Register the complimentary training to utilize our device to its full capability." />
        <meta property="og:site_name" content="Ricoh Hong Kong" />
        <meta property="og:image" content="@Url.ContentLink("~/assets/images/1.0_home.png")" />
        <meta property="og:type" content="website" />

        <meta name="twitter:title" content="Training Registration | Ricoh Hong Kong" />
        <meta name="twitter:description" content="Register the complimentary training of Ricoh Products; reschedule Training. Register the complimentary training to utilize our device to its full capability." />
        <meta name="twitter:image" content="@Url.ContentLink("~/assets/images/1.0_home.png")" />
        <meta name="twitter:card" content="summary_large_image" />
    }

    <!-- favicon -->
    <link href="~/favicon.ico" rel="icon" />
    <link href="~/favicon.ico" rel="shortcut icon" />
    <link href="~/apple-touch-icon.png" rel="apple-touch-icon" />
    <!-- fonts -->
    <link href="~/lib/font-awesome/css/all.min.css" type="text/css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap" rel="stylesheet" />
    <!-- css -->
    <link href="~/assets/css/app.min.css" rel="stylesheet" />
    <link href="~/css/style.css" type="text/css" rel="stylesheet" />
</head>
