﻿@using Localization
@{
    var culture = Context.GetCulture()?.Name;
    var cultures = Context.GetSupportedCultures()
        .Select(c => new SelectListItem { Text = c.DisplayName, Value = c.Name })
        .ToList();
}

<form method="post" asp-controller="Home" asp-action="SetLang">
    <select id="LanguageSwitch" class="form-control" onchange="this.form.submit();" asp-for="@culture" asp-items="cultures"></select>
</form>