﻿@using Localization
@inject Microsoft.Extensions.Localization.IStringLocalizer<Resources.Resource> localizer
@{
    var culture = Context.GetCulture().Name;
}

<!DOCTYPE html>
<html lang="zh-Hant">
<partial name="_Head" />

<body>
    @if (ViewBag.HideHeader != true)
    {
        <partial name="_Header" />
    }

    @RenderBody()

    <partial name="_Footer" />
    <partial name="_Js" />

    <script src="~/lib/bootbox/bootbox.min.js"></script>
    @if (culture?.StartsWith("zh", StringComparison.OrdinalIgnoreCase) == true)
    {
        <script>
            bootbox.addLocale('zh', {
                OK: '@Html.Raw(localizer["OK"]?.Value)',
                CANCEL: '@Html.Raw(localizer["Cancel"]?.Value)',
                CONFIRM: '@Html.Raw(localizer["Confirm"]?.Value)'
            });
            bootbox.setLocale('zh');
        </script>
    }
    <script src="~/js/button.js"></script>
    <script src="~/js/ajax.js"></script>
    @RenderSection("PageScripts", false)

    <script>
        $(document).ready(function () {
            Button.listen();

            @RenderSection("InitScripts", false)
        })
    </script>
</body>
</html>