﻿@using Microsoft.Extensions.Localization;
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IStringLocalizer<Resources.Resource> Localize
@inject IHtmlLocalizer<Resources.Resource> LocalizeHtml

@LocalizeHtml["This site is protected by reCAPTCHA and the <a href=\"{0}\" target=\"_blank\">Google Privacy Policy</a> and <a href=\"{1}\" target=\"_blank\">Terms of Service</a> apply.",
    Localize["https://www.google.com/intl/en-GB/policies/privacy/"],
    Localize["https://www.google.com/intl/en-GB/policies/terms/"]
]