﻿@inject Microsoft.Extensions.Configuration.IConfiguration config
@{
    var siteKey = config.GetSection("GoogleReCaptcha:SiteKey").Value;
}

<script src="https://www.google.com/recaptcha/api.js?render=@(siteKey)"></script>
<script>var sitekey = '@(siteKey)';</script>