﻿@page "{display:regex(revise)?}"
@inherits DefaultPageBase
@model RicohTrainingRegistration.Pages.Reschedule.FormModel
@{
    var chi = IsZh;
}

<div class="registration container-wrapper pt-0">
    <div class="page-banner d-flex justify-content-center align-items-end">
        <div class="bg"></div>
        <div class="container-fluid d-flex">
            <div class="row justify-content-center align-items-start">
                <div class="col-12 col-xl-6">
                    <div class="image-wrapper">
                        <img src="~/assets/images/2.0_page.png" alt="Training Registration" class="img-fluid" />
                    </div>
                </div>
                <div class="col-12 col-xl-6">
                    <div class="text-wrapper">
                        <h1 class="h1">@LocalizeHtml("Reschedule /<br />Cancel Training")</h1>
                        <div class="serial-number i-check">@Localize("Serial no.: {0}", Model.Install?.SerialNo)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="page-header">
            <h2 class="h2">@Localize("Training Registration")</h2>
            <p class="mb-t">@Localize("Please edit the form below to reschedule.")</p>
            <div class="custom-wrapper mw-md">
                <div class="row">
                    <div class="form-group">
                        <div class="col-12 col-lg-3">
                            <p class="bold">@Localize("Model:")</p>
                        </div>
                        <div class="col-12 col-lg-9">
                            <p>@(Model.Training?.ModelName)</p>
                        </div>
                    </div>
                    <partial name="_Agenda" model="Model.Agenda" />
                </div>
            </div>
        </div>
        <div class="custom-toggle-wrapper mw-md">
            <h3 class="h3">@Localize("Training Preferences")<span>*@Localize("Mandatory field")</span></h3>
            <button class="custom-toggle-btn" type="button" data-toggle="collapse" data-target="#trainingPreference"
                    aria-expanded="false" aria-controls="collapseExample">
                <span></span>
            </button>
        </div>
    </div>

    <form id="frm1" method="post" class="custom-form" data-name="reschedule_submit">
        <div class="collapse show" id="trainingPreference">
            <div class="container-fluid">
                <div class="mw-md">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-12">
                                <label asp-for="Register.VenueAddress">@Localize("Training Venue")*</label>
                                <input asp-for="Register.VenueAddress" placeholder="@Localize("Please enter {0}", Localize("Training Venue"))" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12 col-lg-6">
                                <label asp-for="Register.District">@Localize("District")*</label>
                                <div class="custom-dropdown">
                                    <input data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-secondary dropdown-toggle"
                                           asp-for="Register.DistrictDisplay" placeholder="- @Localize("Please select your district") -" readonly />
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        @foreach (var key in Model.DistrictList.Keys)
                                        {
                                            <a class="dropdown-item" data-value="@(key)">@Localize(Model.DistrictList[key])</a>
                                        }
                                    </div>
                                    <input asp-for="Register.District" type="hidden" class="input-district" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="custom-background">
                <div class="container-fluid">
                    <div class="mw-md">
                        <div class="row">
                            <div id="noTimeslot" class="invalid-feedback col-12" style="display:none">
                                @Localize("Please either choose a timeslot or tick the checkbox to contact us.")
                            </div>
                            <div class="form-group">
                                <div class="col-12 col-lg-6">
                                    <label asp-for="Register.TrainingDate"></label>
                                    <div class="custom-datepicker">
                                        <input asp-for="Register.TrainingDate" placeholder="- @Localize("Pick a date") -" class="input-date" readonly />
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-12">
                                    <label asp-for="Register.TrainingTimeslot"></label>
                                    <div data-niceScroll>
                                        <input asp-for="Register.TrainingTimeslot" placeholder="- @Localize("Please select a timeslot") -" class="d-block d-lg-none input-timeslot" data-value="@(Model.Register.TrainingTimeslot)" />
                                        <div class="custom-timepicker">
                                            <div class="empty" style="font-size:14px">@Localize("No available timeslots.")</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-checkbox col-12">
                                    <input type="checkbox" name="@Html.NameFor(m => m.Register.TrainingDatePreferable)" value="true" class="chk-prefer" @(Model.Register.TrainingDatePreferable == true ? "data-checked" : "") />
                                    <span>
                                        @Localize("No suitable choice? Please leave your preferable date and timeslot. We will contact you shortly.")
                                    </span>
                                    <textarea asp-for="Register.TrainingDateRemarks" class="mt-3 txt-prefer" cols="30" rows="4"
                                              placeholder="@Localize("Remarks: Please write down your preferred timeslot here.")">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="mw-md">
                    <div class="row">
                        <div class="form-group mb-5">
                            <div class="col-12 col-lg-6">
                                <label asp-for="Register.Attendees">@Localize("No. of Attendees")*</label>
                                <div class="custom-dropdown" data-toggle>
                                    <input data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-secondary dropdown-toggle"
                                           asp-for="Register.AttendeesDisplay" placeholder="@Localize("Please select no. of attendees")" readonly />
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        @foreach (var key in Model.AttendeeList.Keys)
                                        {
                                            if (Model.AttendeeFeedbackList.ContainsKey(key))
                                            {
                                                <a class="dropdown-item" data-value="@(key)" data-feedback="@(Model.AttendeeFeedbackList[key])">@(Model.AttendeeList[key])</a>
                                            }
                                            else
                                            {
                                                <a class="dropdown-item" data-value="@(key)">@(Model.AttendeeList[key])</a>
                                            }
                                        }
                                    </div>
                                    <input asp-for="Register.Attendees" type="hidden" />
                                </div>
                                <div class="on-select-feedback"></div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <label asp-for="Register.OperatingSystem">@Localize("Operating System")*</label>
                                <div class="custom-dropdown">
                                    <input data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-secondary dropdown-toggle"
                                           asp-for="Register.OperatingSystemDisplay" placeholder="@Localize("You would like to have training on...")" readonly />
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        @foreach (var key in Model.OperatingSystemList.Keys)
                                        {
                                            <a class="dropdown-item" data-value="@(key)">@(Model.OperatingSystemList[key])</a>
                                        }
                                    </div>
                                    <input asp-for="Register.OperatingSystem" type="hidden" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="custom-toggle-wrapper mw-md">
                <h3 class="h3">@Localize("Contact Info")</h3>
                <button class="custom-toggle-btn" type="button" data-toggle="collapse" data-target="#contactInfo"
                        aria-expanded="false" aria-controls="collapseExample">
                    <span></span>
                </button>
            </div>
            <div class="collapse show" id="contactInfo">
                <div class="mw-md">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-12 col-lg-6">
                                <label asp-for="Register.CompanyName">@Localize("Company Name")*</label>
                                <input asp-for="Register.CompanyName" placeholder="@Localize("Please enter your {0}", Localize("Company Name"))" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12 col-lg-6">
                                <label asp-for="Register.FirstName">@Localize("First Name")*</label>
                                <input asp-for="Register.FirstName" placeholder="@Localize("Please enter your {0}", Localize("First Name"))" />
                            </div>
                            <div class="col-12 col-lg-6">
                                <label asp-for="Register.LastName">@Localize("Last Name")*</label>
                                <input asp-for="Register.LastName" placeholder="@Localize("Please enter your {0}", Localize("Last Name"))" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12 col-lg-6">
                                <label asp-for="Register.PhoneNo">@Localize("Phone No.")*</label>
                                <div class="editable" style="position:relative">
                                    <div class="custom-number">
                                        <input asp-for="Register.PhoneNo" value="" placeholder="@Localize("Please enter your {0}", Localize("Phone No."))" />
                                        <span>+852</span>
                                    </div>
                                    <div class="custom-number click-to-edit" style="position:absolute;top:0;left:0;right:0;bottom:0;">
                                        <input type="text" value="@(Model.Register.PhoneNo?.MaskPhoneNo())" disabled />
                                        <span>+852</span>
                                        <img src="~/assets/images/delete.svg" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <label asp-for="Register.Email">@Localize("Email Address")*</label>
                                <div class="editable" style="position:relative">
                                    <input asp-for="Register.Email" value="" placeholder="@Localize("Please enter your {0}", Localize("Email Address"))" />
                                    <div class="click-to-edit" style="position:absolute;top:0;left:0;right:0;bottom:0;">
                                        <input type="text" value="@(Model.Register.Email?.MaskEmail())" disabled />
                                        <img src="~/assets/images/delete.svg" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <label asp-for="Register.Remarks"></label>
                                <textarea asp-for="Register.Remarks" cols="30" rows="4" maxlength="100" placeholder="@Localize("Leave a message here...")"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mw-md">
                <div class="page-privacy-policy">
                    <partial name="_RecaptchaMessage" />
                </div>
                <div class="btn-group justify-content-center justify-content-lg-end align-items-center">
                    <button type="submit" class="btn btn-primary i-arrow">@Localize("Submit")</button>
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target=".custom-popup">@Localize("Cancel")</button>
                </div>
            </div>
        </div>
        <input asp-for="Recaptcha" type="hidden" />
    </form>
</div>
<partial name="_ScrollTop" />

<div class="custom-popup modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon"></div>
            </div>
            <div class="modal-body">
                <h2 class="h2 mb-3">@Localize("Leave This page?")</h2>
                <p class="description">
                    @Localize("Are you sure you want to leave the page? The entered information will not be saved once you leave.")
                </p>
            </div>
            <div class="btn-group justify-content-center justify-content-lg-end align-items-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-href="@Url.Page("/Reschedule/Preview")">@Localize("Yes")</button>
                <button type="button" class="btn btn-third" data-dismiss="modal">@Localize("Cancel")</button>
            </div>
        </div>
    </div>
</div>
<partial name="_AgendaModal" model="Model.Agenda" />

@section PageScripts
{
    <script src="~/assets/plugins/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/locale/@(chi ? "zh_TW" : "en").js"></script>
    <script src="~/lib/moment/moment.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script>
        $.validator.setDefaults({
            highlight: function (element) {
                $(element).closest('[class*=col-]').addClass('is-invalid').find('label, .invalid-feedback').addClass('is-invalid');
                $(element).closest('.custom-background').addClass('is-invalid');
            },
            unhighlight: function (element) {
                $(element).closest('[class*=col-]').removeClass('is-invalid').find('label, .invalid-feedback').removeClass('is-invalid');
                $(element).closest('.custom-background').removeClass('is-invalid');
            }
        });
    </script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/pages/registration.js"></script>
    <partial name="_Recaptcha" />
}

<script>
    @section InitScripts
    {
    Page.init({
        dateApi: '@Url.Action("TrainingDate", "Api")',
        timeslotApi: '@Url.Action("TrainingTimeslot", "Api")',
        dateCulture: '@(chi ? "zh-TW" : "en")',
        restore: {
            district: '@(Model.Register.District)',
            date: '@(Model.Register.TrainingDate)',
            timeslot: '@(Model.Register.TrainingTimeslot)'
        }
    });
    }
</script>