﻿@page "{id?}"
@inherits DefaultPageBase
@model RicohTrainingRegistration.CMS.Pages.Training.Holiday.EditModel
@{
    var model = Model.Holiday;
    var editing = model.Id > 0;
    PageTitle("Holiday");
    PageHeading("Training Schedule", "Holiday");
    ActiveMenus("Training", "Holiday");
    Breadcrumbs(
        new Breadcrumb("Training Schedule"),
        new Breadcrumb("Holidays") { Url = Url.Page("/Training/Holiday/Index") },
        new Breadcrumb(editing ? "Edit" : "New")
    );
    UseJqueryValidate();
    UseDatePicker();
}

<div class="box box-solid">
    <div class="box-body">
        <form method="post" class="form-horizontal ajax-form">
            @Html.BsValidationSummary(true)

            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group required">
                        @Html.LabelFor(m => m.Holiday.Name, new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Holiday.Name, new { @class = "form-control" })
                            @Html.BsValidationMessageFor(m => m.Holiday.Name)
                        </div>
                    </div>
                    <div class="form-group required">
                        @Html.LabelFor(m => m.Holiday.StartDate, "Date", new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input asp-for="Holiday.StartDate" asp-format="{0:yyyy-MM-dd}" type="text" class="form-control datepicker" data-date-format="yyyy-mm-dd" />
                                <span class="input-group-addon">To</span>
                                <input asp-for="Holiday.EndDate" asp-format="{0:yyyy-MM-dd}" type="text" class="form-control datepicker" data-date-format="yyyy-mm-dd" />
                            </div>
                            @Html.BsValidationMessageFor(m => m.Holiday.StartDate)
                            @Html.BsValidationMessageFor(m => m.Holiday.EndDate)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Holiday.Type, new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            <div class="form-control-static">@(model.Type)</div>
                        </div>
                    </div>
                </div>
            </div>

            <hr />
            <div class="row">
                <div class="col-md-offset-2 col-md-6">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Save</button>
                    <button type="button" class="btn btn-default" data-href="@Url.Page("/Training/Holiday/Index")">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    @section InitScripts
    {
    $('.datepicker').attr('autocomplete', 'off').datepicker();
    }
</script>