﻿@page
@inherits DefaultPageBase
@model RicohTrainingRegistration.CMS.Pages.Training.Holiday.IndexModel
@{
    PageTitle("Holiday");
    PageHeading("Training Schedule", "Holidays");
    ActiveMenus("Training", "Holiday");
    Breadcrumbs(
        new Breadcrumb("Training Schedule"),
        new Breadcrumb("Holidays")
    );

    UseDatatable();
}

<div class="box box-solid">
    <div class="box-body">
        <div class="table-responsive">
            <table id="dt1" class="table table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Modified</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="actions">
            <button type="button" class="btn btn-success" data-href="@Url.Page("/Training/Holiday/Edit")"><i class="fa fa-plus"></i> New</button>
            <button type="button" class="btn bg-purple" id="BtnImport"><i class="fa fa-cloud-upload"></i> Import Hong Kong Holiday</button>
        </div>
    </div>
</div>

<script>
    @section InitScripts
    {
    $('#dt1').DataTable({
        ajax: { url: '@Url.Action("List", "Holiday")' },
        order: [[0, 'desc']],
        columns: [
            {
                data: 'date',
                render: function (data, type, row) {
                    var startDate = row.startDate;
                    var endDate = row.endDate;
                    var format = 'YYYY/MM/DD';
                    return moment(startDate).format(format) + ' - ' + moment(endDate).format(format);
                }
            },
            { data: 'name' },
            { data: 'type' },
            {
                data: 'lastUpdated',
                render: function (data) {
                    return moment(data).format('YYYY/MM/DD HH:mm');
                }
            },
            DT.actions()
        ]
    });
    $('#BtnImport').on('click', function () {
        bootbox.confirm('All existing Hong Kong Holiday will be overwritten. Continue?', function (result) {
            if (result) {
                var url = '@Url.Action("ImportHkHoliday", "Holiday")';
                var data = $.extend({}, __csrf);
                Ajax.load({ url: url, data: data });
            }
        });
    });
    }
</script>