﻿* {
    font-family: 'Noto Sans HK', Arial, Helvetica, 'Segoe UI', 'Microsoft JhengHei', "SF Pro HK","SF Pro Text","SF Pro Icons","PingFang HK", sans-serif;
}

[data-href] {
    cursor: pointer;
}

.grecaptcha-badge {
    /*bottom: 80px !important;*/
    /*display: none;*/
    visibility: hidden;
}

.datepicker .table-condensed thead tr:nth-of-type(3) th:first-child,
.datepicker .table-condensed thead tr:nth-of-type(3) th:last-child {
    color: #cf142b;
    font-size: .875rem;
}

.datepicker .table-condensed thead tr:nth-of-type(3) th:nth-child(6) {
    color: #858585;
}

.click-to-edit > input {
    background-color: #e5e5e5;
    opacity: 1;
}

.header-bar.scrolling .logo {
    background-image: url(../assets/images/ricoh-lock-up.svg) !important
}

.header-bar .logo {
    background: url(../assets/images/ricoh-lock-up-white.svg) center center no-repeat;
    background-size: 100% auto;
}

.table-condensed th.prev,
.table-condensed th.next {
    display: block;
    width: 100% !important;
}

    .table-condensed th.prev.disabled,
    .table-condensed th.next.disabled {
        visibility: visible;
    }
