﻿@page "{id?}"
@inherits DefaultPageBase
@model RicohTrainingRegistration.CMS.Pages.Training.Agenda.EditModel
@{
    var model = Model.Agenda;
    var editing = model.Id > 0;
    PageTitle("Training Agenda");
    PageHeading("Training Agenda", editing ? "Edit" : "New");
    ActiveMenus("Agenda");
    Breadcrumbs(
        new Breadcrumb("Training Agenda") { Url = Url.Page("/Training/Agenda/Index") },
        new Breadcrumb(editing ? "Edit" : "New")
    );
    UseJqueryValidate();
    UseSelect2();
}

@section PluginStyles
{
    <link rel="stylesheet" href="~/plugins/bootstrap-fileinput/css/fileinput.min.css" />
}

<div class="box box-solid">
    <div class="box-body">
        <form id="frm1" method="post" class="" enctype="multipart/form-data">
            @Html.BsValidationSummary(true)

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group required">
                        @Html.LabelFor(m => m.Agenda.Title)
                        @Html.TextBoxFor(m => m.Agenda.Title, new { @class = "form-control" })
                        @Html.BsValidationMessageFor(m => m.Agenda.Title)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Agenda.Models)
                        @Html.ListBoxFor(m => m.Agenda.Models, Model.ModelList, new { @class = "form-control select2", style = "width:100%", data_close_on_select = "false" })
                        @Html.BsValidationMessageFor(m => m.Agenda.Models)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Agenda.ContentEng, "Content (Eng)")
                        @Html.TextAreaFor(m => m.Agenda.ContentEng, new { @class = "form-control" })
                        @Html.BsValidationMessageFor(m => m.Agenda.ContentEng)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Agenda.ContentChi, "Content (Chi)")
                        @Html.TextAreaFor(m => m.Agenda.ContentChi, new { @class = "form-control" })
                        @Html.BsValidationMessageFor(m => m.Agenda.ContentChi)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Url (Eng)</label>
                        @Html.TextBoxFor(m => m.Agenda.UrlLabelEng, new { @class = "form-control", placeholder = "Label" })
                        @Html.BsValidationMessageFor(m => m.Agenda.UrlLabelEng)
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Agenda.UrlEng, new { @class = "form-control", placeholder = "Url" })
                        @Html.BsValidationMessageFor(m => m.Agenda.UrlEng)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Url (Chi)</label>
                        @Html.TextBoxFor(m => m.Agenda.UrlLabelChi, new { @class = "form-control", placeholder = "Label" })
                        @Html.BsValidationMessageFor(m => m.Agenda.UrlLabelChi)
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Agenda.UrlChi, new { @class = "form-control", placeholder = "Url" })
                        @Html.BsValidationMessageFor(m => m.Agenda.UrlChi)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Agenda.AttachmentsEng, "Attachments (Eng)")
                        <input id="AttachmentsEng" type="file" name="@Html.NameFor(m => m.Agenda.AttachmentsEng)" accept="image/jpeg,image/jpg,image/png,application/pdf" multiple />
                        @Html.BsValidationMessageFor(m => m.Agenda.AttachmentsEng)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Agenda.AttachmentsChi, "Attachments (Chi)")
                        <input id="AttachmentsChi" type="file" name="@Html.NameFor(m => m.Agenda.AttachmentsChi)" accept="image/jpeg,image/jpg,image/png,application/pdf" multiple />
                        @Html.BsValidationMessageFor(m => m.Agenda.AttachmentsChi)
                    </div>
                </div>
            </div>

            <hr />
            <div class="row">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Save</button>
                    <button type="button" class="btn btn-default" data-href="@Url.Page("/Training/Agenda/Index")">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section PluginScripts
{
    <script type="text/javascript" src="~/plugins/bootstrap-fileinput/js/fileinput.min.js"></script>
}

@{
    var attachmentsEng = Model.MediaList.Where(x => x.Language.Equals(Database.TrainingAgendaMedia.English, StringComparison.OrdinalIgnoreCase));
    var attachmentsChi = Model.MediaList.Where(x => x.Language.Equals(Database.TrainingAgendaMedia.Chinese, StringComparison.OrdinalIgnoreCase));
}
<script>
    @section InitScripts
    {
    $('.select2').select2();

    var frm = $('#frm1');

    var handleFileInput = function (input, previewData) {
        $(input).fileinput({
            initialPreview: previewData.map(function (value) { return value.url; }),
            initialPreviewAsData: true,
            initialPreviewConfig: previewData.map(function (value, index) {
                return {
                    caption: value.fileName,
                    downloadUrl: value.url,
                    size: value.contentLength,
                    width: '120px',
                    key: value.id,
                    type: value.contentType == 'application/pdf' ? 'pdf' : undefined
                };
            }),
            overwriteInitial: false,
            browseOnZoneClick: true,
            fileActionSettings: { showUpload: false },
            deleteUrl: '@Url.Action("Remove", "Media")',
            uploadUrl: '/media',
            showUpload: false,
            showRemove: false
        });
        $(input).on('filedeleted', handleFileDeleted);
    };
    var handleFileDeleted = function (e, key, jqXHR, data) {
        $('<input type="hidden" name="@Html.NameFor(m => m.Agenda.RemoveAttachments)" value="' + key + '" />').appendTo(frm);
    };

    handleFileInput('#AttachmentsEng', @Html.Raw(Json.Serialize(attachmentsEng)));
    handleFileInput('#AttachmentsChi', @Html.Raw(Json.Serialize(attachmentsChi)));

    frm.on('submit', function (e) {
        e.preventDefault();

        var formData = new FormData(this);
        Ajax.load({
            url: this.action,
            data: formData,
            processData: false,
            contentType: false
        });
    });
    }
</script>