﻿@page
@inherits DefaultPageBase
@model RicohTrainingRegistration.CMS.Pages.Training.Agenda.IndexModel
@{
    PageTitle("Training Agendas");
    PageHeading("Training Agendas");
    ActiveMenus("Agenda");
    Breadcrumbs(
        new Breadcrumb("Training Agendas")
    );

    UseDatatable();
}

<div class="box box-solid">
    <div class="box-body">
        <div class="table-responsive">
            <table id="dt1" class="table table-bordered" style="width:100%" data-dt-ajax="@Url.Action("List", "TrainingAgenda")">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Content (Eng)</th>
                        <th>Content (Chi)</th>
                        <th>Url</th>
                        <th>Models</th>
                        <th>Modified</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="actions">
            <button type="button" class="btn btn-success" data-href="@Url.Page("/Training/Agenda/Edit")"><i class="fa fa-plus"></i> New</button>
        </div>
    </div>
</div>

<script>
    @section InitScripts
    {
    $('#dt1').DataTable({
        ajax: { url: $('#dt1').attr('data-dt-ajax') },
        order: [[0, 'desc']],
        columns: [
            { data: 'title', render: DT.editLink },
            { data: 'contentEng' },
            { data: 'contentChi' },
            {
                name: 'urlLabelEng',
                data: function (data) {
                    var url = {
                        Eng: { label: data.urlLabelEng || data.urlEng, href: data.urlEng },
                        Chi: { label: data.urlLabelChi || data.urlChi, href: data.urlChi }
                    };
                    return Object.keys(url).map(function (key) {
                        var obj = url[key];
                        return '<div>' + key + ': <a href="' + obj.href + '" target="_blank">' + obj.label + '</a></div>';
                    }).join('');
                }
            },
            {
                orderable: false,
                data: 'models',
                render: function (data) {
                    return data.map(function (value) { return value.id; }).join(', ');
                }
            },
            {
                data: 'updatedDate',
                    render: function (data) {
                        var m = moment(data);
                        return m.isValid() ? '<span title="' + m.format('YYYY/MM/DD HH:mm') + '">' + m.fromNow() + '</span>' : '';
                    }
            },
            DT.actions()
        ]
    });
    }
</script>
