﻿<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @(ViewData["PageHeading"])
        <small>@(ViewData["PageSubheading"])</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/"><i class="fa fa-dashboard"></i> Home</a></li>
        @{
            var breadcrumbs = ((IEnumerable<Breadcrumb>)ViewData["Breadcrumbs"])?.ToList();
            if (breadcrumbs?.Any() == true)
            {
                for (int i = 0; i < breadcrumbs.Count; i++)
                {
                    var item = breadcrumbs[i];
                    var active = i + 1 == breadcrumbs.Count ? "active" : "";
                    <li class="@(active)">
                        @if (item.Url != null)
                        {
                            <a href="@(item.Url)" @(item.Title != null ? $"title=\"{item.Title}\"" : "")>
                                @if (item.Icon != null)
                                {
                                    <i class="fa fa-@(item.Icon)"></i> @(item.Label)
                                }
                                else
                                {
                                    @(item.Label)
                                }
                            </a>
                        }
                        else
                        {
                            <text>
                                @if (item.Icon != null)
                                {
                                    <i class="fa fa-@(item.Icon)"></i> @(item.Label)
                                }
                                else
                                {
                                    @(item.Label)
                                }
                            </text>
                        }
                    </li>
                }
            }
        }
    </ol>
</section>
