﻿@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    var csrf = Xsrf.GetAndStoreTokens(Context);
    var title = ViewData["PageTitle"]?.ToString() ?? "";
    var sep = !string.IsNullOrWhiteSpace(title) ? " | " : "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Ricoh Training CMS@(sep)@(title)</title>
    <link href="~/favicon.ico" rel="icon" />
    <link href="~/favicon.ico" rel="shortcut icon" />
    <link href="~/apple-touch-icon.png" rel="apple-touch-icon" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/plugins/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/font-awesome/css/font-awesome.min.css" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/plugins/Ionicons/css/ionicons.min.css" />
    <partial name="_PluginStyles" />
    @RenderSection("PluginStyles", false)
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/AdminLTE.min.css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/css/skins/skin-red.min.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" />
    <!-- Page Styles -->
    <link rel="stylesheet" href="~/css/loader.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    @RenderSection("PageStyles", false)
    <script>
        var __locale = 'en-US';
        var __csrf = @Html.Raw(Json.Serialize(new Dictionary<string, string>{ { csrf.FormFieldName, csrf.RequestToken } }));
    </script>
</head>
<body class="hold-transition skin-red sidebar-mini">
    <partial name="_PageLoader" />

    <!-- Site wrapper -->
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="~/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><img src="~/img/ricoh-lock-up-white.svg" /></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><img src="~/img/ricoh-lock-up-white.svg" />CMS</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <partial name="_UserMenu" />
                    </ul>
                </div>
            </nav>
        </header>

        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <partial name="_SidebarMenu" />
            <!-- /.sidebar -->
        </aside>

        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <partial name="_ContentHeader" />

            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> @(typeof(RicohTrainingRegistration.CMS.Program).Assembly.GetName().Version.ToString(3))
            </div>
            <strong>&copy; @(DateTime.Today.Year) <a href="~/">Ricoh Hong Kong Limited</a>.</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/plugins/fastclick/fastclick.min.js"></script>
    <!-- Plugins -->
    <script src="~/plugins/bootbox/bootbox.min.js"></script>
    <script src="~/plugins/momentjs/moment.min.js"></script>
    <script src="~/plugins/jquery-serialize-object/jquery.serialize-object.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/loader.js"></script>
    <script src="~/js/ajax.js"></script>
    <partial name="_PluginScripts" />
    @RenderSection("PluginScripts", false)
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>
    <script src="~/js/app.js"></script>
    @RenderSection("PageScripts", false)
    <script>
        $(document).ready(function () {
            $('.sidebar-menu').tree()
            @RenderSection("InitScripts", false)
        })
    </script>
</body>
</html>
