﻿@if (IsUse("Datatable"))
{
    <link rel="stylesheet" href="~/plugins/datatables/css/dataTables.bootstrap.min.css" />
}

@if (IsUse("DatePicker"))
{
    <link rel="stylesheet" href="~/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" />
}

@if (IsUse("TimePicker"))
{
    <link rel="stylesheet" href="~/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" />
}

@if (IsUse("Select2"))
{
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css" />
}

@functions
{
    bool IsUse(string name)
    {
        var index = $"Use{name}";
        return Convert.ToBoolean(ViewData[index]);
    }
}