﻿@if (IsUse("Datatable"))
{
    <script src="~/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables/js/dataTables.bootstrap.min.js"></script>
    <script src="~/js/dataTable.js"></script>
}

@if (IsUse("JqueryValidate"))
{
    <script src="~/plugins/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/plugins/jquery-validate-bootstrap/jquery.validate.bootstrap.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

@if (IsUse("DatePicker"))
{
    <script src="~/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
}

@if (IsUse("TimePicker"))
{
    <script src="~/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
}

@if (IsUse("Select2"))
{
    <script src="~/plugins/select2/js/select2.min.js"></script>
}

@functions
{
    bool IsUse(string name)
    {
        var index = $"Use{name}";
        return Convert.ToBoolean(ViewData[index]);
    }
}