﻿@model IEnumerable<RicohTrainingRegistration.Database.ScheduledSession>
@using RicohTrainingRegistration.Database;
@{
    var district = ViewData["District"] as string;
    var currentMonth = (ViewData["CurrentMonth"] as DateTime?).Value;
    var holidays = ViewData["Holidays"] as IEnumerable<Holiday>;
    var year = currentMonth.Year;
    var month = currentMonth.Month;
    var days = DateTime.DaysInMonth(currentMonth.Year, currentMonth.Month);
    var baseDate = new DateTime(currentMonth.Year, currentMonth.Month, 1);
    var today = DateTime.Today;
    var grids = Enumerable.Range(0, days).ToList();
    var start = (int)baseDate.DayOfWeek;
    grids.InsertRange(0, Enumerable.Range(-start, start));
    grids.AddRange(Enumerable.Range(days, 7 * 6 - grids.Count));
}

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                @for (int i = 0; i < 7; i++)
                {
                    <th class="text-center">@(((DayOfWeek)i).ToString().ToUpper().Substring(0, 3))</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < 6; i++)
            {
                var skip = i * 7;
                var list = grids.Skip(skip).Take(7);
                if (!list.Any(x => baseDate.AddDays(x).Month == month))
                {
                    continue;
                }
                <tr>
                    @foreach (var value in list)
                    {
                        var date = baseDate.AddDays(value);
                        var item = Model.FirstOrDefault(x => x.Date == date);
                        var isCurrentMonth = currentMonth.Month == date.Month;
                        var isToday = today == date;
                        var isPast = today > date;
                        var isHoliday = date.DayOfWeek == DayOfWeek.Sunday || (holidays?.Any(h => h.StartDate <= date && date <= h.EndDate) == true);
                        var isUseCustom = Model.Any(x => isCurrentMonth && x.Date == date && x.IsUseCustom);

                        var text = GetText(isToday, isCurrentMonth, isHoliday);
                        var bg = GetBackground(isToday, isCurrentMonth, isHoliday, isPast);

                        <td class="@(bg)">
                            <div class="clearfix">
                                @if (isCurrentMonth)
                                {
                                    var values = item != null ? (object)new { id = item.ItemId, fr = "overview" } : (object)new { district = district.ToLower(), date = date.ToString("yyyy-MM-dd"), fr = "overview" };
                                    <div class="pull-left"><a href="@Url.Page("/Training/Schedule/Custom/Edit", values)" title="Customize"><i class="fa fa-fw fa-@(isUseCustom ? "star" : "pencil")"></i></a></div>
                                }
                                <div class="pull-right @(text)">@(date.Day)</div>
                            </div>
                            @if (currentMonth.Month == date.Month)
                            {
                                var slots = Model.Where(x => x.Day == date.Day).Where(x => x.IsCustom == isUseCustom || x.RegistrationId.HasValue).OrderBy(x => x.Timeslot).ThenBy(x => x.Seq);
                                <div class="margin-t">
                                    @foreach (var slot in slots)
                                    {
                                        if (slot.SerialNo != null)
                                        {
                                            <button type="button" class="btn btn-xs btn-block bg-red" data-href="@Url.Page("/Registration/Edit", new { id = slot.RegistrationId, fr = "overview" })"><b>@(slot.Timeslot)</b> Registered</button>

                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-xs btn-block btn-blank" data-href="@Url.Page("/Registration/Edit", new { slot = slot.Id, fr = "overview" })"><b>@(slot.Timeslot)</b> Available</button>
                                        }
                                    }
                                </div>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>


@functions
{
    string GetText(bool isToday, bool isCurrentMonth, bool isHoliday)
    {
        if (isToday) return "text-bold";
        if (!isCurrentMonth) return "text-muted";
        if (isHoliday) return "text-danger";
        return "text-normal";
    }

    string GetBackground(bool isToday, bool isCurrentMonth, bool isHoliday, bool isPast)
    {
        if (isToday) return "warning";
        if (!isCurrentMonth) return "bg-gray";
        if (isHoliday) return "danger";
        if (isPast) return "bg-gray-light";
        return "";
    }
}