﻿@functions{
    string ActiveClass(string menu, int index = 0)
    {
        var activeMenus = (IEnumerable<string>)ViewData["ActiveMenus"];
        return activeMenus?.Skip(index).FirstOrDefault()?.Equals(menu, StringComparison.OrdinalIgnoreCase) == true ? "active" : "";
    }
}

<section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MANAGEMENT</li>
        <li class="@ActiveClass("Dashboard")">
            <a href="~/"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
        </li>
        <li class="treeview @ActiveClass("Training")">
            <a href="#">
                <i class="fa fa-calendar"></i> <span>Training Schedule</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li class="@ActiveClass("Overview", 1)">
                    <a asp-page="/Training/Schedule/Index"><i class="fa fa-circle-o"></i> Overview</a>
                </li>
                <li class="@ActiveClass("Default", 1)">
                    <a asp-page="/Training/Schedule/Default"><i class="fa fa-circle-o"></i> Default</a>
                </li>
                <li class="@ActiveClass("Custom", 1)">
                    <a asp-page="/Training/Schedule/Custom/Index"><i class="fa fa-circle-o"></i> Custom</a>
                </li>
                <li class="@ActiveClass("Holiday", 1)">
                    <a asp-page="/Training/Holiday/Index"><i class="fa fa-circle-o"></i> Holidays</a>
                </li>
            </ul>
        </li>
        <li class="@ActiveClass("Model")">
            <a asp-page="/Training/Model/Index"><i class="fa fa-print"></i> <span>Training Models</span></a>
        </li>
        <li class="@ActiveClass("Agenda")">
            <a asp-page="/Training/Agenda/Index"><i class="fa fa-file-image-o"></i> <span>Training Agendas</span></a>
        </li>
        <li class="@ActiveClass("Registration")">
            <a asp-page="/Registration/Index"><i class="fa fa-check-square-o"></i> <span>Registrations</span></a>
        </li>
        <li class="@ActiveClass("Enquiry")">
            <a asp-page="/Enquiry/Index"><i class="fa fa-question-circle-o"></i> <span>Enquiries</span></a>
        </li>
        <li class="@ActiveClass("Faq")">
            <a asp-page="/Faq/Index"><i class="fa fa-book"></i> <span>FAQ Documents</span></a>
        </li>
        <li class="@ActiveClass("Report")">
            <a asp-page="/Report/Index"><i class="fa fa-line-chart"></i> <span>Reports</span></a>
        </li>
        <li class="@ActiveClass("Log")">
            <a asp-page="/Log/Index"><i class="fa fa-file-text-o"></i> <span>Logs</span></a>
        </li>
        <li class="treeview @ActiveClass("Setting")">
            <a href="#">
                <i class="fa fa-gears"></i> <span>Settings</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li class="@ActiveClass("General", 1)">
                    <a asp-page="/Setting/General"><i class="fa fa-circle-o"></i> General</a>
                </li>
                <li class="@ActiveClass("Email", 1)">
                    <a asp-page="/Setting/Email/Address"><i class="fa fa-circle-o"></i> Email Addresses</a>
                </li>
                <li class="@ActiveClass("EmailTemplate", 1)">
                    <a asp-page="/Setting/Email/Template/Index"><i class="fa fa-circle-o"></i> Email Templates</a>
                </li>
            </ul>
        </li>
    </ul>
</section>
