﻿@{
    var user = new
    {
        DisplayName = User.FindFirst("name")?.Value,
        Username = User.FindFirst(System.Security.Claims.ClaimTypes.Name)?.Value,
        Email = User.FindFirst(System.Security.Claims.ClaimTypes.Name)?.Value
    };
    var name = user.DisplayName ?? user.Username ?? user.Email ?? "";
    var initial = GetInitial(name);
}

@functions
{
    string GetInitial(string name, int max = 3)
    {
        var parts = name.Split(' ').Where(r => !string.IsNullOrWhiteSpace(r)).Select(r => r.ToUpper().Substring(0, 1)).ToList();
        var len = parts.Count;
        var initial = "";
        if (len > 0)
        {
            var list = parts.Take(max).ToList();
            if (len > max)
            {
                list[max - 1] = parts.Last();
            }
            initial = string.Join("", list);
        }
        return initial;
    }
}

<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        @*<img src="../../dist/img/user2-160x160.jpg" class="user-image" alt="User Image">*@
        <span class="avatar">
            <span class="avatar-circle">
                <span class="initials">@(initial)</span>
            </span>
        </span>
        <span class="user-name hidden-xs">@(name)</span>
    </a>
</li>
