﻿@page
@inherits DefaultPageBase
@model RicohTrainingRegistration.CMS.Pages.Setting.Email.AddressModel
@{
    PageTitle("Email Addresses");
    PageHeading("Settings", "Email Addresses");
    ActiveMenus("Setting", "Email");
    Breadcrumbs(
        new Breadcrumb("Settings"),
        new Breadcrumb("Email"),
        new Breadcrumb("Addresses")
    );

    UseDatatable();
    UseJqueryValidate();
}

<div class="box box-solid">
    <div class="box-body">
        <form method="post" class="form-horizontal ajax-form">
            @Html.BsValidationSummary(true)

            <div class="row">
                <div class="col-md-12">
                    <h4>Trainer Email Addresses</h4>
                    <div class="form-group">
                        <label class="control-label col-md-3">Trainer Email Addresses</label>
                        <div class="col-md-6">
                            <div class="table-responsive">
                                <table id="DtTrainer" class="table table-bordered table-condensed" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Email Address</th>
                                            <th width="1%"></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2">
                                                <button type="button" class="btn btn-success btn-sm btn-add"><i class="fa fa-plus"></i> Add</button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>

                    <hr />
                    <h4>Email Sender</h4>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Setting.FromAddress, new { @class = "control-label col-md-3" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Setting.FromAddress, new { @class = "form-control col-md-6", type = "email" })
                            @Html.BsValidationMessageFor(m => m.Setting.FromAddress)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Setting.From, new { @class = "control-label col-md-3" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Setting.From, new { @class = "form-control col-md-6" })
                            @Html.BsValidationMessageFor(m => m.Setting.From)
                        </div>
                    </div>

                    <hr />
                    <h4>Reply-To Email Addresses</h4>
                    <div class="form-group">
                        <label class="control-label col-md-3">Reply-To Email Addresses</label>
                        <div class="col-md-6">
                            <div class="table-responsive">
                                <table id="DtReplyTo" class="table table-bordered table-condensed" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Email Address</th>
                                            <th width="1%"></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2">
                                                <button type="button" class="btn btn-success btn-sm btn-add"><i class="fa fa-plus"></i> Add</button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>

                    <hr />
                    <h4>Return Path</h4>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Setting.ReturnAddress, new { @class = "control-label col-md-3" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Setting.ReturnAddress, new { @class = "form-control col-md-6", type = "email" })
                            @Html.BsValidationMessageFor(m => m.Setting.ReturnAddress)
                        </div>
                    </div>

                    <hr />
                    <div class="row">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    @section InitScripts
    {
    var EmailTable = function (selector, name, data) {
        var table = $(selector);
        table.DataTable({
            serverSide: false,
            processing: false,
            ajax: null,
            ordering: false,
            searching: false,
            paging: false,
            data: data,
            columns: [
                { data: function (data) { return '<input type="email" name="' + name + '" value="' + data + '" class="form-control input-sm" style="width:100%" />'; } },
                { data: function (data) { return '<button type="button" class="btn btn-default btn-sm btn-remove"><i class="fa fa-times"></i> Remove</button>'; } }
            ]
        });
        table.on('click', '.btn-add', addEmail);
        table.on('click', '.btn-remove', removeEmail);
        return table;
    };
    var addEmail = function () {
        var table = $(this).closest('table');
        table.DataTable().row.add('').draw(false);
    };
    var removeEmail = function () {
        var tr = $(this).closest('tr');
        var table = tr.closest('table');
        table.DataTable().row(tr[0]).remove().draw(false);
    };

    EmailTable('#DtTrainer', '@Html.NameFor(m => m.Setting.TrainerAddresses)', @Html.Raw(Json.Serialize(Model.Setting.TrainerAddresses)));
    EmailTable('#DtReplyTo', '@Html.NameFor(m => m.Setting.ReplyToAddresses)', @Html.Raw(Json.Serialize(Model.Setting.ReplyToAddresses)));
    }
</script>