﻿@page
@inherits DefaultPageBase
@model IndexModel
@{

}

<div class="page-home">
    <div class="bg"></div>
    <div class="container-fluid">
        <form id="frm1" method="post">
            <div class="row">
                <div class="col-12 col-xl-6 pic">
                    <img src="~/assets/images/1.0_home.png" alt="" />
                </div>
                <div class="col-12 col-xl-6 text">
                    <h1 class="h1">@LocalizeHtml("Training<br />Registration")</h1>
                    <p class="description">
                        @Localize("Master the features of your Ricoh product with our professionals.")
                    </p>
                    <div class="flex-row align-center">
                        <span class="title">@Localize("Enter your serial number")</span>
                        <div class="custom-popover-wrapper">
                            <img src="~/assets/images/info.svg" alt="" class="icon i-info">
                            <div class="custom-popover">
                                <p>@(Model.SerialNoHint)</p>
                                <img src="@(Model.SerialNoHintImage)" />
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <input asp-for="SerialNo" type="text" id="SerialNo" class="form-control" placeholder="@Localize("e.g T282M410930")" aria-label="@Localize("serial number")" aria-describedby="button-addon2" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                                <img src="~/assets/images/icon-arrow-right-white.svg" alt="" />
                                <partial name="_IconLoading" />
                            </button>
                        </div>
                    </div>
                    <div id="ErrorMsg" class="flex-row align-center" style="display:none">
                        <img src="~/assets/images/error.svg" alt="" class="icon" />
                        <img src="~/assets/images/error-mb.svg" alt="" class="icon mb" />
                        <span class="error-msg"></span>
                    </div>
                    <a asp-page="/Reschedule">@Localize("Reschedule / Cancel")</a>
                </div>
            </div>
            <input asp-for="Recaptcha" type="hidden" />
        </form>
    </div>
</div>
<div class="info-popup modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div>
                    <p>@Localize("You can find the Serial Number on the label")</p>
                    <img src="~/assets/images/sn-info.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>

@section PageScripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-serialize-object/jquery.serialize-object.min.js"></script>
    <partial name="_Recaptcha" />
}

<script>
    @section InitScripts
    {
        var $frm = $('#frm1');
        var $btn = $frm.find(':submit');
        $frm.on('submit', function (e) {
            e.preventDefault();

            grecaptcha.execute(sitekey, { action: 'register' }).then(function (token) {
                document.getElementById('Recaptcha').value = token;

                if (!$frm.valid()) {
                    var sn = $('#SerialNo').val();
                    !sn && errorMsg('@Html.Raw(Localize("Please enter a valid serial number"))');
                    return;
                }

                Button.startLoading($btn);
                errorMsg();
                Ajax.load({
                    url: $frm.attr('action'),
                    data: $frm.serializeObject(),
                    success: success,
                    error: error
                });
            });
        });

        var success = function (resp) {
            if (resp.success) {
                Ajax.success(resp);
                return;
            }
            errorMsg(resp.message, resp.redirect);
            Button.endLoading($btn);
        };

        var error = function error(jqXHR, textStatus, errorThrown) {
            var resp = Ajax.error(jqXHR, textStatus, errorThrown);
            errorMsg(resp.message, resp.redirect);
            Button.endLoading($btn);
        };

        var errorMsg = function (message, redirect) {
            var msg = message || '';

            if (typeof (redirect) === 'string') {
                msg = '<h1 class="text-warning"><i class="fas fa-exclamation-triangle"></i></h1> ' + msg;
                bootbox.alert({
                    message: msg,
                    closeButton: false,
                    callback: function () {
                        window.location.assign(redirect);
                    }
                });
                return;
            }

            var box = $('#ErrorMsg');
            box.find('.error-msg').text(msg);
            msg ? box.show() : box.hide();
        };
    }
</script>