﻿@page
@inherits DefaultPageBase
@model RescheduleModel
@{

}

<div class="page-home --reschedule">
    <div class="bg"></div>
    <div class="container-fluid">
        <form id="frm1" method="post">
            <div class="row">
                <div class="col-12 col-xl-6 pic">
                    <img src="~/assets/images/4.0_home.png" alt="" />
                </div>
                <div class="col-12 col-xl-6 text">
                    <h1 class="h1">@LocalizeHtml("Reschedule /<br />Cancel Training")</h1>
                    <p class="description">
                        @Localize("Rescheduling or cancellation is only allowed one working day prior to the appointment.")
                    </p>
                    <div class="row">
                        <div class="col-12">
                            <div class="flex-row align-center">
                                <span class="title">@Localize("Enter your serial number")</span>
                                <div class="custom-popover-wrapper">
                                    <img src="~/assets/images/info.svg" alt="" class="icon i-info">
                                    <div class="custom-popover">
                                        <p>@(Model.SerialNoHint)</p>
                                        <img src="@(Model.SerialNoHintImage)" />
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <input asp-for="SerialNo" type="text" class="form-control" placeholder="@Localize("e.g T282M410930")" aria-label="@Localize("serial number")" aria-describedby="button-addon2" />
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <div class="flex-row align-center">
                                <span class="title">@Localize("Please enter your registered phone no. / email address")</span>
                            </div>
                            <div class="input-group">
                                <input asp-for="PhoneNoEmail" type="text" class="form-control" placeholder="@Localize("Your phone no. / email")" aria-label="@Localize("phone no. / email")" aria-describedby="button-addon3">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="submit" id="button-addon3">
                                        <img src="~/assets/images/icon-arrow-right-white.svg" alt="" />
                                        <partial name="_IconLoading" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="ErrorMsg" class="flex-row align-center" style="display:none">
                        <img src="~/assets/images/error.svg" alt="" class="icon" />
                        <img src="~/assets/images/error-mb.svg" alt="" class="icon mb" />
                        <span class="error-msg"></span>
                    </div>
                    <a id="btnForgot" href="javascript:;" class="d-block">@Localize("Forgotten your registered phone number or email address?")</a>
                    <a asp-page="/Index" class="d-block">@Localize("Not yet registered?")</a>
                </div>
            </div>
            <input asp-for="Recaptcha" type="hidden" />
            <input asp-for="Forgot" type="hidden" />
        </form>
    </div>
</div>
<div class="info-popup modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div>
                    <p>@Localize("You can find the Serial Number on the label")</p>
                    <img src="~/assets/images/sn-info.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>

@section PageScripts
{
    @*<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@
    <script src="~/lib/jquery-serialize-object/jquery.serialize-object.min.js"></script>
    <partial name="_Recaptcha" />
}

<script>
    @section InitScripts
    {
        var $frm = $('#frm1');
        var $btn = $frm.find(':submit');
        $frm.on('submit', function (e) {
            e.preventDefault();

            grecaptcha.execute(sitekey, { action: 'reschedule' }).then(function (token) {
                document.getElementById('Recaptcha').value = token;
                //if (!$frm.valid()) return;

                var sn = $('#SerialNo').val();
                if (!sn) {
                    errorMsg('@Html.Raw(Localize("Please enter a valid serial number"))');
                    return;
                }

                $('#Forgot').val() != '1' && Button.startLoading($btn);
                errorMsg();
                Ajax.load({
                    url: $frm.attr('action'),
                    data: $frm.serializeObject(),
                    success: success,
                    error: error,
                    complete: function () {
                        $('#Forgot').val('');
                    }
                });
            });
        });

        $('#btnForgot').on('click', function () {
            var sn = $('#SerialNo').val();
            if (!sn) {
                errorMsg('@Html.Raw(Localize("Please enter a valid serial number to check registered details"))');
                return;
            }

            $('#Forgot').val('1');
            $frm.trigger('submit');
        });

        var success = function (resp) {
            if (resp.success) {
                Ajax.success(resp);
                return;
            }
            errorMsg(resp.message, resp.redirect);
            Button.endLoading($btn);
        };

        var error = function error(jqXHR, textStatus, errorThrown) {
            var resp = Ajax.error(jqXHR, textStatus, errorThrown);
            errorMsg(resp.message, resp.redirect);
            Button.endLoading($btn);
        };

        var errorMsg = function (message, redirect) {
            var msg = message || '';

            if (typeof (redirect) === 'string') {
                msg = '<h1 class="text-warning"><i class="fas fa-exclamation-triangle"></i></h1> ' + msg;
                bootbox.alert({
                    message: msg,
                    closeButton: false,
                    callback: function () {
                        window.location.assign(redirect);
                    }
                });
                return;
            }

            var box = $('#ErrorMsg');
            box.find('.error-msg').text(msg);
            msg ? box.show() : box.hide();
        };
    }
</script>