﻿@page "{id}"
@inherits DefaultPageBase
@model RicohTrainingRegistration.CMS.Pages.Setting.Email.Template.EditModel
@{
    PageTitle("Email Templates");
    PageHeading("Settings", "Email Templates");
    ActiveMenus("Setting", "EmailTemplate");
    Breadcrumbs(
        new Breadcrumb("Settings"),
        new Breadcrumb("Email"),
        new Breadcrumb("Templates") { Url = Url.Page("/Settings/Email/Template/Index") }
    );
    UseJqueryValidate();

    var tmpl = Model.Template;
    var singleLangTemplates = new[]
    {
        RicohTrainingRegistration.Database.EmailTemplateId.REG_INVITE,
        RicohTrainingRegistration.Database.EmailTemplateId.SYSTEM_FAIL
    };
}

<div class="box box-solid">
    <div class="box-body">
        <form id="frm1" method="post">
            @Html.BsValidationSummary(true)

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Template</label>
                        <div class="form-control-static">@(tmpl.Id)</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Template.Name"></label>
                        <input asp-for="Template.Name" class="form-control" />
                    </div>
                </div>
            </div>
            @if (singleLangTemplates.Contains(tmpl.Id))
            {
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <label>Subject</label>
                            <input asp-for="Template.SubjectEng" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <label>Content</label>
                            <textarea asp-for="Template.ContentEng" class="form-control editor"></textarea>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Template.SubjectEng"></label>
                            <input asp-for="Template.SubjectEng" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Template.SubjectChi"></label>
                            <input asp-for="Template.SubjectChi" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Template.ContentEng"></label>
                            <textarea asp-for="Template.ContentEng" class="form-control editor"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Template.ContentChi"></label>
                            <textarea asp-for="Template.ContentChi" class="form-control editor"></textarea>
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Send to trainers</label>
                        <div class="checkbox-list">
                            <label class="checkbox-inline"><input type="checkbox" name="@Html.NameFor(m => m.Template.SendToTrainers)" value="true" @Html.Checked(tmpl.SendToTrainers) /> Yes</label>
                        </div>
                    </div>
                </div>
            </div>

            <hr />
            <div class="row">
                <div class="col-md-offset-4 col-md-8">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Save</button>
                    <button type="button" class="btn btn-default" data-href="@Url.Page("/Setting/Email/Template/Index")">Back</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section PluginScripts
{
    <script src="//cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>
}

<script>
    @section InitScripts
    {
    CKEDITOR.config.contentsCss = [CKEDITOR.getUrl('contents.css'), '/css/ckeCustomContents.css']

    $('textarea.editor').each(function () {
        CKEDITOR.replace($(this).attr('id'), {
            on: {
                change: function () {
                    this.updateElement();
                }
            }
        });
    });

    $('#frm1').on('submit', function (e) {
        for (var instanceName in CKEDITOR.instances) {
            CKEDITOR.instances[instanceName].updateElement();
        }
    });
    Ajax.form({ form: '#frm1' });
    }
</script>