﻿@page
@inherits DefaultPageBase
@model RicohTrainingRegistration.CMS.Pages.Setting.Email.Template.IndexModel
@{
    PageTitle("Email Templates");
    PageHeading("Settings", "Email Templates");
    ActiveMenus("Setting", "EmailTemplate");
    Breadcrumbs(
        new Breadcrumb("Settings"),
        new Breadcrumb("Email"),
        new Breadcrumb("Templates")
    );
    UseDatatable();
}

<div class="box box-solid">
    <div class="box-header with-border">
        <h4 class="box-title">Email Templates</h4>
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table id="dt1" class="table table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Template</th>
                        <th>Name</th>
                        <th>Send to trainers</th>
                        <th>Last updated</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<script>
    @section InitScripts
    {
    $('#dt1').DataTable({
        serverSide: false,
        processing: false,
        paging: false,
        ordering: false,
        searching: false,
        ajax: null,
        data: @Html.Raw(Json.Serialize(Model.Templates)),
        columns: [
            {
                data: 'id',
                render: DT.editLink
            },
            {
                data: 'name'
            },
            {
                data: 'sendToTrainers',
                render: function (data) {
                    return data == true ? '<i class="fa fa-check-circle"></i>' : '';
                }
            },
            {
                data: 'lastUpdated',
                render: DT.momentFromNow
            },
            DT.actions()
        ]
    });
    }
</script>