﻿@page "{id?}"
@inject AppSettings appSettings
@inherits DefaultPageBase
@model RicohTrainingRegistration.CMS.Pages.Training.Schedule.Custom.EditModel
@{
    var data = Model.Data;
    var isEdit = data.Id > 0;
    PageTitle("Training Schedule");
    PageHeading("Training Schedule", "Custom");
    ActiveMenus("Training", "Custom");
    Breadcrumbs(
        new Breadcrumb("Training Schedule"),
        new Breadcrumb("Custom") { Url = Url.Page("/Training/Schedule/Custom/Index") },
        new Breadcrumb(isEdit ? string.Format("{0} @ {1:yyyy-MM-dd}", data.District, data.Date) : "New")
    );
    UseDatatable();
    UseDatePicker();
    UseTimePicker();
    UseJqueryValidate();
}

<div class="box box-solid">
    <div class="box-body">
        <form method="post" class="form-horizontal" id="frm1">
            <div class="">
                <div class="form-group">
                    @Html.LabelFor(m => m.Data.Date, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-4">
                        @if (isEdit)
                        {
                            <div class="form-control-static">@(string.Format("{0:yyyy-MM-dd}", data.Date))</div>
                            @Html.Hidden("Data.Date", string.Format("{0:yyyy-MM-dd}", data.Date))
                        }
                        else
                        {
                            <div class="input-group">
                                <input asp-for="Data.Date" asp-format="{0:yyyy-MM-dd}" type="text" class="form-control datepicker" data-date-format="yyyy-mm-dd" />
                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                            </div>
                            @Html.BsValidationMessageFor(m => m.Data.Date)
                        }
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Data.District, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-8">
                        <div class="radio-list">
                            @if (isEdit)
                            {
                                <div class="form-control-static">@(data.District?.ToUpperInvariant())</div>
                                @Html.HiddenFor(m => m.Data.District)
                            }
                            else
                            {
                                foreach (var dis in appSettings.Districts)
                                {
                                    <label class="radio-inline">@Html.RadioButtonFor(m => m.Data.District, dis, new { @class = "district" }) @(dis.ToUpperInvariant())</label>
                                }
                            }
                        </div>
                        @Html.BsValidationMessageFor(m => m.Data.District)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Data.DefaultTimeslots, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-8">
                        <div class="table-responsive">
                            <table id="dt1" class="table table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Timeslot</th>
                                        <th>Quota</th>
                                        <th>Registration</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Data.CustomTimeslots, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-8">
                        <div class="checkbox-list">
                            <label class="checkbox-inline"><input type="checkbox" name="@Html.NameFor(m => m.Data.IsUseCustom)" value="true" @(data.IsUseCustom == true ? "checked" : "") /> Use custom timeslots</label>
                        </div>
                        <div class="table-responsive">
                            <table id="dt2" class="table table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Timeslot</th>
                                        <th>Quota</th>
                                        <th>Registration</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4">
                                            <button type="button" class="btn btn-sm btn-success btn-add"><i class="fa fa-plus"></i> Add</button>
                                            <button type="button" class="btn btn-sm bg-navy btn-add-default"><i class="fa fa-plus"></i> Defaults</button>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Data.Remark, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-8">
                        @Html.TextAreaFor(m => m.Data.Remark, new { @class = "form-control" })
                    </div>
                </div>

                @Html.BsValidationSummary(true)

                <hr />
                <div class="form-actions">
                    <div class="row">
                        <div class="col-sm-offset-3 col-sm-8">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Save</button>
                            @if ("overview".Equals(Model.From, StringComparison.OrdinalIgnoreCase))
                            {
                                <button type="button" class="btn btn-default" data-href="@Url.Page("/Training/Schedule/Index")">Back</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-default" data-href="@Url.Page("/Training/Schedule/Custom/Index")"><i class="fa fa-undo"></i> Cancel</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section PageScripts
{
    <script src="~/js/pages/training/schedule/custom/edit.js"></script>
}

<script>
    @section InitScripts
    {
    Page.init({
        defaultQueryUrl: '@Url.Action("DefaultQuery", "Schedule")',
        timeslots: {
            defaults: @Html.Raw(Json.Serialize(data.DefaultTimeslots)),
            customs: @Html.Raw(Json.Serialize(data.CustomTimeslots))
        }
    });
    }
</script>