﻿@page
@inherits DefaultPageBase
@model RicohTrainingRegistration.CMS.Pages.Training.Schedule.Custom.IndexModel
@{
    PageTitle("Training Schedule");
    PageHeading("Training Schedule", "Custom");
    ActiveMenus("Training", "Custom");
    Breadcrumbs(
        new Breadcrumb("Training Schedule"),
        new Breadcrumb("Custom")
    );
    UseDatatable();
}

<div class="box box-solid">
    <div class="box-header with-border">
        <h4 class="box-title">Customized training sessions</h4>
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table id="dt1" class="table table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>District</th>
                        <th>Timeslots</th>
                        <th>Remark</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="actions">
            <button type="button" class="btn btn-success" data-href="@Url.Page("/Training/Schedule/Custom/Edit")"><i class="fa fa-plus"></i> New</button>
        </div>
    </div>
</div>

<script>
    @section InitScripts
    {
    $('#dt1').DataTable({
        searching: false,
        ajax: { url: '@Url.Action("CustomList", "Schedule")' },
        order: [[0, 'desc'], [1, 'asc']],
        columns: [
            {
                data: 'date',
                render: function (data, type, row) {
                    var format = 'YYYY-MM-DD';
                    return moment(data).format(format);
                }
            },
            {
                data: 'district',
                render: function (data) {
                    return '<span class="text-uppercase">' + data + '</span>';
                }
            },
            {
                data: 'timeslots',
                render: function (data) {
                    var arr = data.map(function (value) {
                        return '<div>' + value.timeslot + ' - ' + value.count + '</div>';
                    });
                    return arr.join('');
                }
            },
            {
                data: 'remark'
            },
            DT.actions()
        ]
    });
    }
</script>