﻿@page
@inherits DefaultPageBase
@model RicohTrainingRegistration.CMS.Pages.Log.IndexModel
@{
    PageTitle("Logs");
    PageHeading("Logs");
    ActiveMenus("Log");
    Breadcrumbs(
        new Breadcrumb("Logs")
    );
    UseDatatable();
}

@section PageStyles
{
    <style>
        .log-data {
            white-space: normal;
            cursor: pointer;
            font-size: 11px;
            max-height: 5em;
        }
    </style>
}

<div class="box box-solid">
    <div class="box-body">
        <div class="table-responsive">
            <table id="dt1" class="table table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>By</th>
                        <th>Title</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <pre id="preLogData"></pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>
    @section InitScripts
    {
    var dt1 = $('#dt1').DataTable({
        ajax: { url: '@Url.Action("List", "Log")' },
        order: [[0, 'desc']],
        columns: [
            {
                data: 'startTime',
                render: function (data) {
                    return moment(data).format('YYYY/MM/DD HH:mm:ss');
                }
            },
            { data: 'createdBy' },
            { data: 'title' },
            {
                data: 'message',
                render: function (data, type, row) {
                    var div = $('<div/>');
                    $('<div/>').text(data || '').appendTo(div);
                    row.result && $('<pre class="log-data"/>').text(row.result).appendTo(div);
                    return div.html();
                }
            }
        ]
    });

    $('#dt1').on('click', '.log-data', function () {
        var node = $(this).closest('tr').get(0);
        var row = dt1.row(node).data();
        var data = row.result;
        var str = JSON.stringify(JSON.parse(data), null, '  ');
        $('#preLogData').text(str);
        $('#myModal').modal();
    });
    }
</script>