﻿@page "{id}"
@inherits DefaultPageBase
@model RicohTrainingRegistration.Pages.Enquiry.IndexModel
@{

}
<div class="training container-wrapper pt-0">
    <div class="page-banner d-flex justify-content-center align-items-end">
        <div class="bg"></div>
        <div class="container-fluid d-flex">
            <div class="row justify-content-center align-items-start">
                <div class="col-12 col-xl-6">
                    <div class="image-wrapper">
                        <img src="~/assets/images/2.0_page.png" alt="Training Registration" class="img-fluid" />
                    </div>
                </div>
                <div class="col-12 col-xl-6">
                    <div class="text-wrapper">
                        <h1 class="h1">@LocalizeHtml("Training<br />Registration")</h1>
                        <div class="serial-number i-check">@Localize("Serial no.: {0}", Model.Install?.SerialNo)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="page-header mw-md">
            <p class="title">@LocalizeHtml("Your registration is <span class=\"red\">unsuccessful</span>.")</p>
            @if (Model.Message != null)
            {
                <p class="description">@(Model.Message)</p>
            }
            else
            {
                <p class="description">@Localize("Please fill in the form below. We will contact you shortly.")</p>
            }
        </div>
        <h3 class="h3 mw-md">@Localize("Contact Info")<span>*@Localize("Mandatory field")</span></h3>
        <form id="frm1" method="post" class="custom-form mw-md">
            <div class="row">
                <div class="form-group">
                    <div class="col-12 col-lg-6">
                        <label asp-for="Enquiry.CompanyName">@Localize("Company Name")*</label>
                        <input asp-for="Enquiry.CompanyName" placeholder="@Localize("Please enter your {0}", Localize("Company Name"))" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-12 col-lg-6">
                        <label asp-for="Enquiry.FirstName">@Localize("First Name")*</label>
                        <input asp-for="Enquiry.FirstName" placeholder="@Localize("Please enter your {0}", Localize("First Name"))" />
                    </div>
                    <div class="col-12 col-lg-6">
                        <label asp-for="Enquiry.LastName">@Localize("Last Name")*</label>
                        <input asp-for="Enquiry.LastName" placeholder="@Localize("Please enter your {0}", Localize("Last Name"))" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-12 col-lg-6">
                        <label asp-for="Enquiry.PhoneNo">@Localize("Phone No.")*</label>
                        <div class="custom-number">
                            <input asp-for="Enquiry.PhoneNo" placeholder="@Localize("Please enter your {0}", Localize("Phone No."))" />
                            <span>+852</span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <label asp-for="Enquiry.Email">@Localize("Email Address")*</label>
                        <input asp-for="Enquiry.Email" placeholder="@Localize("Please enter your {0}", Localize("Email Address"))" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-12">
                        <label asp-for="Enquiry.Remarks"></label>
                        <textarea asp-for="Enquiry.Remarks" cols="30" rows="6" maxlength="100" placeholder="@Localize("Leave a message here...")"></textarea>
                    </div>
                </div>
            </div>
            <div class="page-privacy-policy">
                <partial name="_RecaptchaMessage" />
            </div>
            <div class="btn-group justify-content-center justify-content-lg-end align-items-center">
                <button type="submit" class="btn btn-primary i-arrow">@Localize("Submit")</button>
                <button type="button" class="btn btn-secondary" data-href="@Url.Page("/Index")">@Localize("Cancel")</button>
            </div>
            <input asp-for="Recaptcha" type="hidden" />
        </form>
    </div>
</div>

@section PageScripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script>
        $.validator.setDefaults({
            highlight: function (element) {
                $(element).parent().addClass('is-invalid').siblings('label, .invalid-feedback').addClass('is-invalid');
                $(element).closest('.custom-background').addClass('is-invalid');
            },
            unhighlight: function (element) {
                $(element).parent().removeClass('is-invalid').siblings('label, .invalid-feedback').removeClass('is-invalid');
                $(element).closest('.custom-background').removeClass('is-invalid');
            }
        });
    </script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <partial name="_Recaptcha" />
}

<script>
    @section InitScripts
    {
    $('#frm1').on('submit', function (e) {
        e.preventDefault();
        var frm = this;

        grecaptcha.execute(sitekey, { action: 'enquiry' }).then(function (token) {
            document.getElementById('Recaptcha').value = token;
            if (!$(frm).valid()) return;

            var url = frm.action;
            var method = frm.method;
            var data = $(frm).serialize();
            $.ajax({
                url: url,
                data: data,
                method: method,
                success: function (resp) {
                    if (resp.success) {
                        Ajax.success(resp);
                        return;
                    }
                    bootbox.alert(resp.message || 'Not success');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    var resp = Ajax.error(jqXHR, textStatus, errorThrown);
                    var message = resp.message || '';
                    bootbox.alert('<h1 class="text-danger"><i class="fas fa-times-circle"></i></h1> ' + message);
                }
            });
        });
    });
    }
</script>