﻿@page
@inherits DefaultPageBase
@model IndexModel
@{
    PageTitle("Dashboard");
    PageHeading("Dashboard");
    ActiveMenus("Dashboard");
    Breadcrumbs(
        new Breadcrumb("Dashboard")
    );
}

@section PageStyles
{
    <style>
        .form-control-static .figure {
            font-size: 2em;
            margin-bottom: 10px;
            display: block;
        }
    </style>
}

<div class="box box-default box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">MTD (@(string.Format("1 {0:MMM} - {0:d MMM}", Model.ThisMonth.Date)))</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Number of available time slot</label>
                    <div class="form-control-static"><span class="figure">@(Model.ThisMonth.AvailableTimeslot)</span></div>
                </div>
                <div class="form-group">
                    <label>Number of serial entitled for User Training</label>
                    <div class="form-control-static"><span class="figure">@(Model.ThisMonth.InstallationEntitled)</span></div>
                </div>
                <div class="form-group">
                    <label>Number of invitation email sent out</label>
                    <div class="form-control-static"><span class="figure">@(Model.ThisMonth.SentInvitation)</span></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Number of registration without date / time</label>
                    <div class="form-control-static"><span class="figure">@(Model.ThisMonth.RegistrationPreferred)</span></div>
                </div>
                <div class="form-group">
                    <label>Number of registration with date / time</label>
                    <div class="form-control-static"><span class="figure">@(Model.ThisMonth.RegistrationScheduled)</span></div>
                </div>
                <div class="form-group">
                    <label>Number of registered sessions</label>
                    <div class="form-control-static"><span class="figure">@(Model.ThisMonth.Registration)</span></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Number of  of User Training provided</label>
                    <div class="form-control-static"><span class="figure">@(Model.ThisMonth.TrainingProvided)</span></div>
                </div>
                <div class="form-group">
                    <label>Not yet registered for training</label>
                    <div class="form-control-static"><span class="figure">@(Model.ThisMonth.NotYetRegistered)</span></div>
                </div>
                <div class="form-group">
                    <label>Available timeslot left for user registration </label>
                    <div class="form-control-static"><span class="figure">@(Model.ThisMonth.AvailableTimeslotLeft)</span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box box-default box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Next Month</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Number of available time slot</label>
                    <div class="form-control-static"><span class="figure">@(Model.NextMonth.AvailableTimeslot)</span></div>
                </div>
                @*<div class="form-group">
                    <label>Number of serial entitled for User Training</label>
                    <div class="form-control-static"><span class="figure">@(Model.ThisMonth.InstallationEntitled)</span></div>
                </div>
                <div class="form-group">
                    <label>Number of invitation email sent out</label>
                    <div class="form-control-static"><span class="figure">@(Model.ThisMonth.SentInvitation)</span></div>
                </div>*@
            </div>
            <div class="col-md-4">
                @*<div class="form-group">
                    <label>Number of registration without date / time</label>
                    <div class="form-control-static"><span class="figure">@(Model.ThisMonth.RegistrationPreferred)</span></div>
                </div>*@
                <div class="form-group">
                    <label>Number of registration with date / time</label>
                    <div class="form-control-static"><span class="figure">@(Model.NextMonth.RegistrationScheduled)</span></div>
                </div>
                @*<div class="form-group">
                    <label>Number of registered sessions</label>
                    <div class="form-control-static"><span class="figure">@(Model.ThisMonth.Registration)</span></div>
                </div>*@
            </div>
            <div class="col-md-4">
                @*<div class="form-group">
                    <label>Number of  of User Training provided</label>
                    <div class="form-control-static"><span class="figure">@(Model.ThisMonth.TrainingProvided)</span></div>
                </div>
                <div class="form-group">
                    <label>Not yet registered for training</label>
                    <div class="form-control-static"><span class="figure">@(Model.ThisMonth.NotYetRegistered)</span></div>
                </div>*@
                <div class="form-group">
                    <label>Available timeslot left for user registration </label>
                    <div class="form-control-static"><span class="figure">@(Model.NextMonth.AvailableTimeslotLeft)</span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box box-default box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Last Month</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Number of available time slot</label>
                    <div class="form-control-static"><span class="figure">@(Model.LastMonth.AvailableTimeslot)</span></div>
                </div>
                <div class="form-group">
                    <label>Number of serial entitled for User Training</label>
                    <div class="form-control-static"><span class="figure">@(Model.LastMonth.InstallationEntitled)</span></div>
                </div>
                <div class="form-group">
                    <label>Number of invitation email sent out</label>
                    <div class="form-control-static"><span class="figure">@(Model.LastMonth.SentInvitation)</span></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Number of registration without date / time</label>
                    <div class="form-control-static"><span class="figure">@(Model.LastMonth.RegistrationPreferred)</span></div>
                </div>
                <div class="form-group">
                    <label>Number of registration with date / time</label>
                    <div class="form-control-static"><span class="figure">@(Model.LastMonth.RegistrationScheduled)</span></div>
                </div>
                <div class="form-group">
                    <label>Number of registered sessions</label>
                    <div class="form-control-static"><span class="figure">@(Model.LastMonth.Registration)</span></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Number of  of User Training provided</label>
                    <div class="form-control-static"><span class="figure">@(Model.LastMonth.TrainingProvided)</span></div>
                </div>
                <div class="form-group">
                    <label>Not yet registered for training</label>
                    <div class="form-control-static"><span class="figure">@(Model.LastMonth.NotYetRegistered)</span></div>
                </div>
                <div class="form-group">
                    <label>Available timeslot left for user registration </label>
                    <div class="form-control-static"><span class="figure">@(Model.LastMonth.AvailableTimeslotLeft)</span></div>
                </div>
            </div>
        </div>
    </div>
</div>