﻿@page
@inherits DefaultPageBase
@model RicohTrainingRegistration.CMS.Pages.Registration.IndexModel
@{
    PageTitle("Enquiries");
    PageHeading("Enquiries");
    ActiveMenus("Enquiry");
    Breadcrumbs(
        new Breadcrumb("Enquiries")
    );

    UseDatatable();
    UseDatePicker();
}

<div class="box box-solid">
    <div class="box-body">
        <div class="box box-default box-solid collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">Filters</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <form id="frm1" method="post" class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-2">Enquiry Date</label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input type="text" name="DateFrom" class="form-control dpkr" />
                                        <div class="input-group-addon">-</div>
                                        <input type="text" name="DateTo" class="form-control dpkr"  />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Serial No.</label>
                                <div class="col-md-8">
                                    <input type="text" name="SerialNo" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Model</label>
                                <div class="col-md-8">
                                    <input type="text" name="ModelNo" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Company</label>
                                <div class="col-md-8">
                                    <input type="text" name="Company" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Contact Person</label>
                                <div class="col-md-8">
                                    <input type="text" name="Name" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Phone No.</label>
                                <div class="col-md-8">
                                    <input type="text" name="PhoneNo" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Email</label>
                                <div class="col-md-8">
                                    <input type="text" name="Email" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Is Read</label>
                                <div class="col-md-8">
                                    <div class="checkbox-list">
                                        <label class="checkbox-inline"><input type="checkbox" name="IsRead[]" value="UNREAD" checked /> Unread</label>
                                        <label class="checkbox-inline"><input type="checkbox" name="IsRead[]" value="READ" /> Read</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                            <button type="reset" class="btn btn-default"><i class="fa fa-undo"></i> Reset</button>
                            &nbsp;
                            <button type="button" class="btn bg-purple btn-export"><i class="fa fa-download"></i> Export CSV</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table id="dt1" class="table table-bordered" style="width:100%" data-dt-ajax="@Url.Action("List", "Enquiry")">
                <thead>
                    <tr>
                        <th>Requested</th>
                        <th>Serial No.</th>
                        <th>Company</th>
                        <th>Contact</th>
                        <th>Model</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<script>
    @section InitScripts
    {
    $('.dpkr').attr('autocomplete', 'off').datepicker({
        format: 'yyyy/mm/dd'
    });

    var $form = $('#frm1');
    var dt1 = $('#dt1').DataTable({
        ajax: {
            url: $('#dt1').attr('data-dt-ajax'),
            data: function (data) { DT.ajaxData(data, $form); }
        },
        searching: false,
        order: [[0, 'desc']],
        columns: [
            {
                data: 'requestTime',
                render: DT.momentFromNow
            },
            {
                data: 'serialNo'
            },
            {
                data: 'companyName'
            },
            {
                name: 'firstName',
                data: function (data) {
                    var contact = '<div title="Contact Person" class="text-nowrap"><i class="fa fa-fw fa-user"></i> ' + data.firstName + ' ' + data.lastName + '</div>';
                    var phone = '<div title="Phone No." class="text-nowrap"><i class="fa fa-fw fa-phone"></i> +852 ' + data.phoneNo + '</div>';
                    var email = '<div title="Email" class="text-nowrap"><i class="fa fa-fw fa-envelope"></i> ' + data.email + '</div>';
                    return contact + phone + email;
                }
            },
            {
                data: 'modelName'
            },
            {
                data: 'isRead',
                render: function (data) {
                    return data == true ? 'Read' : 'Unread';
                }
            },
            DT.actions()
        ],
        createdRow: function (row, data) {
            if (data.isRead == true) {
                $(row).addClass('bg-gray-light');
            }
        }
    });
    DT.form(dt1, $form);

    $('.btn-export').on('click', function () {
        var data = $form.serialize();
        var url = '@Url.Action("Export", "Enquiry")?' + data;
        window.open(url, '_blank');
    });
    }
</script>
