﻿@page "{id}"
@inherits DefaultPageBase
@model RicohTrainingRegistration.CMS.Pages.Enquiry.ReviewModel
@using RicohTrainingRegistration.Database
@{
    PageTitle("Enquiries");
    PageHeading("Enquiries", "Review");
    ActiveMenus("Enquiry");
    Breadcrumbs(
        new Breadcrumb("Enquiries"),
        new Breadcrumb("Review")
    );
    UseJqueryValidate();
}

<div class="box box-solid">
    <div class="box-body">
        <form id="frm1" method="post" class="ajax-form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Serial No.</label>
                        <div class="form-control-static">@(Model.Form.SerialNo)</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Model</label>
                        <div class="form-control-static">@(Model.TrainingModel?.ModelName)</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Request Time</label>
                        <div class="form-control-static">@(Model.Form.RequestTime.ToString("yyyy-MM-dd HH:mm:ss"))</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Request IP</label>
                        <div class="form-control-static">@(Model.Form.RequestIp)</div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group required">
                        <label asp-for="Enquiry.CompanyName"></label>
                        <input asp-for="Enquiry.CompanyName" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group required">
                        <label asp-for="Enquiry.FirstName"></label>
                        <input asp-for="Enquiry.FirstName" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group required">
                        <label asp-for="Enquiry.LastName"></label>
                        <input asp-for="Enquiry.LastName" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group required">
                        <label asp-for="Enquiry.PhoneNo"></label>
                        <div class="input-group">
                            <div class="input-group-addon">+852</div>
                            <input asp-for="Enquiry.PhoneNo" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group required">
                        <label asp-for="Enquiry.Email"></label>
                        <input asp-for="Enquiry.Email" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Enquiry.Remarks"></label>
                        <textarea asp-for="Enquiry.Remarks" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Status</label>
                        <div class="radio-list">
                            <label class="radio-inline"><input asp-for="Enquiry.IsRead" type="radio" value="false" /> Unread</label>
                            <label class="radio-inline"><input asp-for="Enquiry.IsRead" type="radio" value="true" /> Read</label>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12 text-center">
                    <button type="submit" value="save" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                    <button type="button" class="btn btn-default" data-href="@Url.Page("/Enquiry/Index")">Back</button>
                </div>
            </div>
        </form>
    </div>
</div>
