﻿@model RicohTrainingRegistration.CMS.Models.TrainingModelEditModel

<div id="modal1" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Model</h4>
            </div>
            <form method="post" class="form-horizontal">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-4">Model</label>
                                <div class="col-md-8">
                                    <div class="form-control-static"><span data-field="id"></span></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Name</label>
                                <div class="col-md-8">
                                    <div class="form-control-static"><span data-field="name"></span></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Entitled Free Training</label>
                                <div class="col-md-8">
                                    <div class="checkbox-list">
                                        <label class="checkbox-inline"><input type="checkbox" name="isFree" value="true" /> Yes</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Opened Days</label>
                                <div class="col-md-8">
                                    <input asp-for="OpenedDays" class="form-control open-days" />
                                    <span class="help-block">Days opened for registration</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>