﻿@page
@inherits DefaultPageBase
@model RicohTrainingRegistration.CMS.Pages.Training.Model.IndexModel
@{
    PageTitle("Training Models");
    PageHeading("Training Models");
    ActiveMenus("Model");
    Breadcrumbs(
        new Breadcrumb("Training Models")
    );

    UseDatatable();
}

<div class="box box-solid">
    <div class="box-body">
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Filters</h3>
            </div>
            <div class="box-body">
                <form id="frm1" method="post" class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-3">Free Training</label>
                                <div class="col-md-6">
                                    <div class="checkbox-list">
                                        <label class="checkbox-inline"><input type="checkbox" name="FreeTraining[]" value="ENTITLED" checked /> Entitled</label>
                                        <label class="checkbox-inline"><input type="checkbox" name="FreeTraining[]" value="WITHDRAWN" checked /> Withdrawn</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table id="dt1" class="table table-bordered" style="width:100%" data-dt-ajax="@Url.Action("List", "TrainingModel")">
                <thead>
                    <tr>
                        <th><span title="Model No.">Model</span></th>
                        <th><span title="Model Name">Name</span></th>
                        <th><span title="Entitled free training">Free Training</span></th>
                        <th><span title="Days opened for registration">Opened Days</span></th>
                        <th><span title="Agenda">Agenda</span></th>
                        <th><span title="Retrieved date">Retrieved</span></th>
                        <th><span title="Last modified date">Modified</span></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
@if (Model.LastRetrievedDate.HasValue)
{
    <div class="text-right text-muted text-sm" style="margin:-15px 0 5px">Last retrieved: <span class="text-bold" data-last-retrieved-date="@(string.Format("{0:yyyy-MM-dd HH:mm:ss}", Model.LastRetrievedDate))"></span></div>
}

<partial name="_Edit" model="new RicohTrainingRegistration.CMS.Models.TrainingModelEditModel()" />

@section PageScripts
{
    <script src="~/js/pages/training/model/index.js"></script>
}

<script>
    @section InitScripts
    {
    Page.init();
    }
</script>