﻿.btn-blank {
    color: #333333;
    background-color: #FFFFFF;
    border-color: #CCCCCC;
}

    .btn-blank:hover,
    .btn-blank:focus,
    .btn-blank:active,
    .btn-blank.active,
    .open .dropdown-toggle.btn-blank {
        color: #333333;
        background-color: #E6E6E6;
        border-color: #CCCCCC;
    }

    .btn-blank:active,
    .btn-blank.active,
    .open .dropdown-toggle.btn-blank {
        background-image: none;
    }

    .btn-blank.disabled,
    .btn-blank[disabled],
    fieldset[disabled] .btn-blank,
    .btn-blank.disabled:hover,
    .btn-blank[disabled]:hover,
    fieldset[disabled] .btn-blank:hover,
    .btn-blank.disabled:focus,
    .btn-blank[disabled]:focus,
    fieldset[disabled] .btn-blank:focus,
    .btn-blank.disabled:active,
    .btn-blank[disabled]:active,
    fieldset[disabled] .btn-blank:active,
    .btn-blank.disabled.active,
    .btn-blank[disabled].active,
    fieldset[disabled] .btn-blank.active {
        background-color: #FFFFFF;
        border-color: #CCCCCC;
    }

    .btn-blank .badge {
        color: #FFFFFF;
        background-color: #333333;
    }

.btn.btn-link:active {
    box-shadow: none;
}

.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
    border-radius: 0;
}

.text-line-through {
    text-decoration: line-through;
}

.margin-h {
    margin-left: 10px;
    margin-right: 10px;
}

.margin-v {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-t {
    margin-top: 10px;
}

.margin-tl {
    margin-top: 10px;
    margin-left: 10px;
}

.margin-tr {
    margin-top: 10px;
    margin-right: 10px;
}

.margin-b {
    margin-top: 10px;
}

.margin-br {
    margin-bottom: 10px;
    margin-right: 10px;
}

.margin-bl {
    margin-bottom: 10px;
    margin-left: 10px;
}

.ml-5 {
    margin-left: 5px;
}

.validation-summary-valid.alert {
    display: none;
}

.validation-summary-errors.alert {
    margin-top: 20px;
}

    .validation-summary-errors.alert > ul {
        padding-left: 20px;
    }

a.disabled {
    color: #777;
}

    a.disabled:hover, a.disabled:active, a.disabled:focus {
        color: #d2d6de;
    }

.page-header.sm {
    font-size: 1.2em;
}

.form-group.required .control-label::after {
    content: "*";
    color: #d33724;
}

input.form-control.autocomplete {
    padding-right: 20px !important;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAICAYAAADJEc7MAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAG2YAABzjgAA4DIAAIM2AAB5CAAAxgwAADT6AAAgbL5TJ5gAAABGSURBVHjaYvz//z8DOYCJgUzA0tnZidPK8vJyRpw24pLEpwnuVHRFhDQxMDAwMPz//x+OOzo6/iPz8WFGuocqAAAA//8DAD/sORHYg7kaAAAAAElFTkSuQmCC) right center no-repeat;
}

.input-group-addon:not(:first-child):not(:last-child) {
    border-left: none;
    border-right: none;
}

.box .box-tools .box-tool-text {
    font-size: 12px;
    line-height: 1.42857143;
    display: inline-block;
}

hr {
    border-top: 1px solid #eee;
}
