﻿@import url("global.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');

body {
    font-family: 'Source Sans Pro','Noto Sans HK','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.navbar-nav > .user-menu .avatar {
    position: relative;
    padding: 0 12px;
}

    .navbar-nav > .user-menu .avatar .avatar-circle {
        position: absolute;
        top: -3px;
        right: 0;
        width: 24px;
        height: 24px;
        background-color: #fff;
        text-align: center;
        border-radius: 50%;
    }

        .navbar-nav > .user-menu .avatar .avatar-circle > .initials {
            position: relative;
            top: 1px;
            font-size: 12px;
            line-height: 12px;
            color: #333;
            font-weight: bold;
        }

.navbar-nav > .user-menu .user-name {
    margin-left: 10px;
}

.skin-red .nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: #dd4b39;
}

[data-href], [data-dt-action] {
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

.tab-content.tab-content-bordered {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.radio-list, .checkbox-list {
    margin-bottom: 7px;
}

.form-group.required > label:first-child::after {
    content: "*";
    color: #d33724;
}

.main-header .logo .logo-lg img {
    max-height: 45px;
    max-width: 108px;
}
